
.profile{
    background-image: url('/images/background/tecladoRedragon.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.profile main{
    display: flex;

}

/* nav-bar */
    .profile main .nav-bar{
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.57);
    }

    .profile .nav-bar-ul li a{
        color: white;
    }

/* Formulario */

    .profile main .formProfile{
        width: 95%;
        margin: 3vw auto 10vw auto;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }

    .profile .c-image-inputs{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

/* Inputs files */

.profile main form .title-images{
    width: 71.1vw;
    display: block;
    margin: auto;
}

.profile main form .c-imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20vw;
}

.profile main form .c-imagenes .input-file{
    text-align: center;
}

.profile main form .c-imagenes .file{
    display: none;
}

.profile main form .c-imagenes .preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile main form .c-imagenes .preview img{
    width: 70%;
}

.profile main form .c-imagenes .preview .delete{
    display: none;
}


.profile main form .c-imagenes .file-agregar{
    background-color: #3D2ED0;
    color: white;
}

.profile main form .c-imagenes .file-quitar{
    background-color: #dc3545;
    color: white;
    margin: 1vw;
}

/* resto de Inputs */

.profile .div-error{
    margin: 1vw 0;
    text-align: end;
    width: 97%;
    position: relative;
}

.profile .error {
    color: red;
    font-size: 1.3vw;
    margin: 0;
    line-height: normal;
    position: absolute;
    right: 0.5vw;
    top: -3.3vw;
}

.profile .is-invalid {
    background-image: url(../images/icon/is-invalid.svg);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + 0.775rem) calc(3.45em + 1.575rem);
}

.profile .inputs-text{
    width: 20vw;
    margin-bottom: 1.5vw;
}

.profile .container-buttons{
    text-align: end;
    width: 98.6%;
    margin: auto;
}

.profile .btn-editar{
    background-color: #3D2ED0;
    color: white;
    margin: 0.6vw;

}

.profile .btn-editar:hover {
    color: #fff;
    background-color: #372aad;
}

.profile main form .container-buttons .btn-borrar{
    background-color: #dc3545;
    color: white;
    margin: 1vw;

}

.profile main form .container-buttons .btn-borrar:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

/* favoritos */

    /* carrusel */
    .profile .swiper {
        width: 80%;
    }

    .profile .container-carrusel{
        position: relative;
    }

    .profile .swiper-button-prev{
        left: -2px!important;
    }
    
    .profile .swiper-button-next{
        right: -2px!important;
    }

    .profile .swiper-pagination-bullet-active{
        background: #3d2ed0;
    }

.profile main .decoracion{
  background-color: #F77490;
  color: #F77490;
  width: 95%;
  height: 10px;
  border-radius: 20px;
  margin: 0% auto 7.8vw auto;
}

.profile main .productos{
  margin-bottom: 15vw;
}

.profile main section article a{
  color: black;
}

.profile main section article{
  background-color: #ffffff;
  width: 72.4vw; 
  height: 131.3vw;
  padding: 15px;
  margin: 20px auto 20px auto;
  box-shadow: 0px 0px 10px rgb(100,100,100);
  position: relative;
  cursor: pointer;
}

.profile main article:hover{
  box-shadow: 0px 0px 20px rgb(250 0 59);
}

.profile main section .contenedor-img {
  height: 65.65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile main section article .contenedor-img img{
  width: 70%;
}

.profile main section article .product-info{
  height: 65.65vw;
  border-top: 1px solid #B2B2B2;
}

.profile main section article .title{
  height: 26vw;
}

.profile main section article .info{
  height: 26vw;
}

.profile main section article .fav{
  position: absolute;
  left: 58.3vw
}

.profile main section article div h3{
  font-size: 4.6vw;
  font-weight: 500;
  text-align: center;
  color: #3E3E3E;
  color: #3E3E3E;
  margin: 9vw 0% 10vw 0%;
}

.profile main section article div .price{
font-size: 8.9vw;
margin: 0 1.5vw 3% 0;
display: inline-block;
}

.profile main section article div .discount{
  color: #33CC33;
  font-size: 5vw;
}

.profile main section article div .payMethod{
color: #3D2ED0;
font-weight: 500;
font-size: 5vw;
}

                /*              TABLET                       */

@media (min-width:768px){
    
    .profile .swiper {
        width: 90%;
    }

    /* nav-bar */

        .profile main .nav-bar{
            width: 20%;
            height: 20vw;
            margin: 3vw auto;
            position: sticky;
            top: 2%;
        }

        .profile .nav-bar-nav{
            padding: 1vw 1vw;
        }

        .profile .nav-bar-ul{
            text-align: left;
            font-size: 1.4vw;
        }

        .profile .nav-bar-ul li{
            margin: 0.5vw auto 0vw auto;
        }

        .profile .nav-bar-ul li a{
            display: flex;
            align-items: center;
            padding: 0vw 1vw;
            width: 100%;
            height: 2.3vw;
        }

        .profile .nav-bar-ul li a:hover{
            color: gray ;
        }
        
        .profile .nav-bar-ul li a:hover{
            background-color: #372aad77;
            border-radius: 5px;
        }

    /* div container */

        .profile main .c-forms{
            width: 70%;
            margin: 2vw auto 10vw auto;
        }

    /* Form information */
    
        .profile .t-blocks{
            color: #ffffff;
            font-size: 2.5vw;
            font-weight: bold;
            text-shadow: -2px 2px 2px black;
            border-bottom: 1px solid gray;
            padding: 1vw 0vw;
        }

        .profile main .formProfile{
            width: 100%;
            margin: 0vw auto 10vw auto;
            background-color: rgba(0, 0, 0, 0.57);
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            color: white;
        }

        .profile .c-img-inputs{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .profile .c-img-profile{
            background-size: cover;
            background-position: center;
            width: 10vw;
            height: 10vw;
            border: 2px solid gray;
            margin: 2vw;
            filter: opacity(#372aad);
        }

        .profile .c-inputs{
            width: 79%;
        }

    /* Input file */

        .profile main form .c-imagenes{
            flex-direction: row;
            margin-bottom: 0;
        }

        .profile main form .c-imagenes .input-file{
            width: 19.3vw;
        }

        .profile main form .c-imagenes .preview{
            height: 16vw;
        }

    /* form password */

        .profile main .form-pass{
            width: 100%;
            margin: 0vw auto 10vw auto;
            background-color: rgba(0, 0, 0, 0.57);
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            color: white;
        }

        .profile .c-input{
            display: flex;
            justify-content: space-between;
            margin: 1vw;
            font-size: 2vw;
            font-weight: 500;
            border-bottom: 1px solid gray;
            height: 5.7vw;
        }

        .profile .c-input .input{
            background-color: #918C8D4D;
            color: white;
            width: 25vw;
            height: 2.6vw;
            text-indent: 4%;
            font-size: 1.5vw;
            border-radius: 4px;
            font-weight: 500;
            border: none;
            box-shadow: 0px 5px 12px 3px black;
        }

        .profile .c-input .input:focus {
            outline: none;
            border: 2px solid #3D2ED0;
        }

        .profile .c-input-text{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 1vw;
            font-size: 2vw;
            font-weight: 500;
        }

        .profile .input-text-area{
            background-color: #918C8D4D;
            color: white;
            width: 100%;
            height: 14vw;
            padding: 1vw;
            font-size: 1.5vw;
            border-radius: 4px;
            font-weight: 500;
            border: none;
            box-shadow: 0px 5px 12px 3px black;
            margin-top: 1vw;
            resize: none;
        }
        
        .profile .input-text-area:focus {
            outline: none;
            border: 2px solid #3D2ED0;
        }

        .profile .btn-cambiar{
            font-size: 1.4vw;
            width: 10vw;
            position: relative;
            left: 82.6%;
        }

    /* favoritos */

    .profile main section article {
        width: 40vw;
        height: 70vw;
    }

    .profile main section article .fav{
        left: 31.9vw
    }

    .profile main section .contenedor-img {
        height: 50%;
        overflow: hidden;
        padding: 5px;
    }

    .profile main section article .product-info {
        height: 50%;
    }

    .profile main section article .title {
        height: 50%;
    }

    .profile main section article div h3 {
        font-size: 2.8vw;
        margin: 3vw 0% 8vw 0%;
    }

    .profile main section article .info {
        height: 50%;
    }

    .profile main section article div .price {
        font-size: 4.6vw;
    }

    .profile main section article div .discount {
        font-size: 2.7vw;
    }

    .profile main section article div .payMethod {
    font-size: 3.1vw;
    }
    
        
}

@media (min-width:960px){

    .profile main section article {
        width: 18vw;
        height: 32.5vw;
    }

    .profile main section article .fav{
      left: 14.2vw
    }

    .profile main section article div h3 {
        font-size: 1.2vw;
        margin: 1.4vw 0% 8vw 0%;
    }

    .profile main section article div .price {
        font-size: 1.8vw;
        margin: 0 0.5vw 3% 0;
    }

    .profile main section article div .discount {
        font-size: 1.3vw;
    }

    .profile main section article div .payMethod {
      font-size: 1.3vw;
  }

}
