<footer>
    <div class="contain-footer">
        <form action="" method="">
            <h2 class="t-ofertas">Recibe las mejores ofertas</h2>

            <div class="email">
                <i><img src="/images/icon/mail.svg" alt="Email"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <button type="submit">Suscribirse</button>
        </form>
        <nav> 
            <div>
                <ul>
                    <li><h3 class="t-ul">Navegacion</h3></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/search">Productos</a></li>
                    <li><a href="/about">Nosotros</a></li>
                </ul>
                <ul class="ul-medios">
                    <li><h3 class="t-ul">Medios de Pago</h3></li>
                    <li><a  class="disabled" href="">Transferencia</a></li>
                    <li><a class="disabled"  href="">Credito y Debito</a></li>
                    <li><a class="disabled"  href="">Efectivo</a></li>
                </ul>
            </div>
            <div class="div-redes">
                <ul >
                    <li><h3 class="t-ul">Contacto</h3></li>
                    <li><a href="mailto:fourgameargg@gmail.com">fourgameargg@gmail.com</a></li>
                    <li><a href="mailto:ezequielrango29@gmail.com">ezequielrango29@gmail.com</a></li>
                    <li><a href="mailto:juanmadegiorgi@gmail.com">juanmadegiorgi@gmail.com</a></li>
                </ul>

                <ul class="ul-redes">
                    <li><h3 class="t-ul">Redes</h3></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100074061231552">Facebook</a></li>
                    <li><a href="https://instagram.com/four.game_?utm_medium=copy_link">Instagram</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>