<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>

    <!-- JQUERY Y BOOSTRAP -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JQUERY Y BOOSTRAP -->

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>carrito</title>
</head>

<body class="cart">
    <header>
        <div class="c-header">
            <nav class="nav-1">
                <a href="/" class="logo">
                    <img src="/images/icon/Logo.png" alt="logo" >
                </a>

                <button class="b-menu"><i class="fas fa-bars menu"></i></button>
                <form class="search">
                    
                    <input class="search-bar" type="text" name="search" placeholder="Buscar">
                    <button class="search-icon" type="submit"><i class="fas fa-search"></i></button>
                </form>
                    <div class="c-user-cart">
                        <div class="dropdown" style="display: inline-block;">
                            <a class="btn btn-secondary dropdown-toggle item btn-productos user" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                        
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">iniciar sesion</a></li>
                            <li><a class="dropdown-item" href="/register">registrarse</a></li>
                            <li><a class="dropdown-item" href="/product-loading">cargar producto</a></li>
                            </ul>
                        </div>
                        <a href="/cart" class="i-cart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
            </nav>
            <nav class="nav-2">
                <ul class="ul-nav-2">
                    <li>
                    <!----------------------------------    BOOSTRAP    ------------------------------------------>

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle item btn-productos" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              Productos
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li class="item-productos"><a class="dropdown-item" href="#">Consolas</a></li>
                              <li class="item-productos"><a class="dropdown-item" href="#">Pc armadas</a></li>
                              <li class="item-productos"><a class="dropdown-item" href="#">Juegos</a></li>
                            </ul>
                        </div>

                     <!----------------------------------    BOOSTRAP    ------------------------------------------>    
                    </li>
                    <li><a href="#" class="item">Nosotros</a></li>
                    <li><a href="#" class="item">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <!-- subtitulo de ofertas -->

            <div class="contenedor-c">
                <h2 class="carrito">
                    Carrito de compras
                </h2>
                <button class="back">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
            </div>

            <article class="c-producto">
                <!-- imagen del producto -->
                <div class="c-img">
                    <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                </div>

                <!-- descripcion del producto -->

                <div class="infoProducto">
                    <button class="eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <h3 class="descripcion">Pc Gamer amd Ryzen 3 3100</h3>
                    <p class="cuotas">
                        12x $ 1.012,39 sin interés
                    </p>
                    <button class="b-cuotas">
                        Ver cuotas
                    </button>
                    <div class="d-cantidad">
                        <p class="cantidad">Cantidad:</p>
                        <button class="b-suma">
                        <i class="fas fa-minus-circle"></i>
                        </button>
                        <p class="n-cantidad">4</p>
                        <button class="b-suma">
                        <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                   <div class="c-precio">
                        <p class="precio">Precio:</p>
                        <p class="p-cantidad">$480.521</p>
                   </div>
                </div>
            </article>

            <article class="c-producto">
                <!-- imagen del producto -->
                <div class="c-img">
                    <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                </div>

                <!-- descripcion del producto -->

                <div class="infoProducto">
                    <button class="eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <h3 class="descripcion">Pc Gamer amd Ryzen 3 3100</h3>
                    <p class="cuotas">
                        12x $ 1.012,39 sin interés
                    </p>
                    <button class="b-cuotas">
                        Ver cuotas
                    </button>
                    <div class="d-cantidad">
                        <p class="cantidad">Cantidad:</p>
                        <button class="b-suma">
                        <i class="fas fa-minus-circle"></i>
                        </button>
                        <p class="n-cantidad">4</p>
                        <button class="b-suma">
                        <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                   <div class="c-precio">
                        <p class="precio">Precio:</p>
                        <p class="p-cantidad">$480.521</p>
                   </div>
                </div>
            </article>
            <article class="c-producto">
                <!-- imagen del producto -->
                <div class="c-img">
                    <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                </div>

                <!-- descripcion del producto -->

                <div class="infoProducto">
                    <button class="eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <h3 class="descripcion">Pc Gamer amd Ryzen 3 3100</h3>
                    <p class="cuotas">
                        12x $ 1.012,39 sin interés
                    </p>
                    <button class="b-cuotas">
                        Ver cuotas
                    </button>
                    <div class="d-cantidad">
                        <p class="cantidad">Cantidad:</p>
                        <button class="b-suma">
                        <i class="fas fa-minus-circle"></i>
                        </button>
                        <p class="n-cantidad">4</p>
                        <button class="b-suma">
                        <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                   <div class="c-precio">
                        <p class="precio">Precio:</p>
                        <p class="p-cantidad">$480.521</p>
                   </div>
                </div>
            </article>

            <article class="c-envios">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="envio">
                        Envio a :
                    </p>
                    <p class="direccion">
                        Calle falsa, N°123,Buenos Aires
                    </p>
                    <button class="cambiar">
                        Cambiar
                    </button>
                </div>
            </article>

            <article class="c-tarjetas">
                <img class="tarjetas-logo" src="/images/icon/logo2.png" alt="logo">
                <div class="contenedor-t">
                    <img class="tarjetas" src="/images/icon/tarjetas.jpg" alt="tarjetas">
                    <img class="ahora12" src="/images/icon/ahora12.svg" alt="ahora12">
                </div>
                <h3 class="p-total">
                    Total: $26.364
                </h3>
                <button class="finalizar">
                    Finalizar compra
                </button>
            </article>
        </section>
    </main>
    <footer>
        <div class="contain-footer">
            <form action="" method="">
                <h2 class="t-ofertas">Recibe las mejores ofertas</h2>

                <div class="email">
                    <i><img src="/images/icon/mail.svg" alt="Email"></i>
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <button type="submit">Suscribirse</button>
            </form>
            <nav> 
                <div>
                    <ul>
                        <li><h3 class="t-ul">Navegacion</h3></li>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Nosotros</a></li>
                    </ul>
                    <ul class="ul-medios">
                        <li><h3 class="t-ul">Medios de Pago</h3></li>
                        <li><a href="">Transferencia</a></li>
                        <li><a href="">Credito y Debito</a></li>
                        <li><a href="">Efectivo</a></li>
                    </ul>
                </div>
                <div class="div-redes">
                    <ul >
                        <li><h3 class="t-ul">Contacto</h3></li>
                        <li><a href="">persona@gmail.com</a></li>
                        <li><a href="">administrador@gmail.com</a></li>
                    </ul>

                    <ul class="ul-redes">
                        <li><h3 class="t-ul">Redes</h3></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Twitter</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>
    <!-------------------  JQUERY BOTON DESPLEGABLE   --------------------->
    <script>
        $(document).ready(function(){
        $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
            }
           );
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>