<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <title>carrito</title>
</head>

<body class="cart">

    <header>
        <img src="/images/icon/Logo.png" alt="logo" class="logo">

        <button href="#" class="b-menu"><i class="fas fa-bars menu"></i></button>
        
        <form>
            
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </form>

        <button class="user"><i class="fas fa-user-circle"></i></button>
        <button class="i-cart"><i class="fas fa-shopping-cart"></i></button>


        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <!-- subtitulo de ofertas -->
            <div class="contenedor-c">
                <h2 class="carrito">Carrito de compras</h2>
                <button class="back"><i class="fas fa-arrow-circle-left"></i></button>
            </div>

            <article>
                <!-- imagen del producto -->
                <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                <!-- descripcion del producto -->
                <div class="infoProducto">
                    <button class="eliminar"><i class="fas fa-trash-alt"></i></button>
                    <h3 class="descripcion">
                        Pc Gamer amd Ryzen 3 3100
                    </h3>
                    <p class="cantidad">Cantidad:</p> 
                    <button class="b-suma"><i class="fas fa-minus-circle"></i></button> 
                    <p class="n-cantidad">4</p> 
                    <button class="b-suma"><i class="fas fa-plus-circle"></i></button> 
                    <p class="precio">
                        Precio: 
                    </p>
                    <p class="p-cantidad">$480.521</p>


                </div>
            </article>
            <article>
                <!-- imagen del producto -->
                <img src="/images/Pc/PC-Armada-Alta-008_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                <!-- descripcion del producto -->
                <div class="infoProducto">
                    <button class="eliminar"><i class="fas fa-trash-alt"></i></button>
                    <h3 class="descripcion">
                        Pc Gamer amd Ryzen 3 3100
                    </h3>
                    <p class="cantidad">Cantidad:</p> 
                    <button class="b-suma"><i class="fas fa-minus-circle"></i></button> 
                    <p class="n-cantidad">4</p> 
                    <button class="b-suma"><i class="fas fa-plus-circle"></i></button> 
                    <p class="precio">
                        Precio: 
                    </p>
                    <p class="p-cantidad">$480.521</p>

                    
                </div>
            </article>
            <article>
                <!-- imagen del producto -->
                <img src="/images/Pc/PC-Armada-Media-0025_600.jpg" alt="Pc Gamer amd Ryzen 3 3100" width="100%">
                <!-- descripcion del producto -->
                <div class="infoProducto">
                    <button class="eliminar"><i class="fas fa-trash-alt"></i></button>
                    <h3 class="descripcion">
                        Pc Gamer amd Ryzen 3 3100
                    </h3>
                    <p class="cantidad">Cantidad:</p> 
                    <button class="b-suma"><i class="fas fa-minus-circle"></i></button> 
                    <p class="n-cantidad">4</p> 
                    <button class="b-suma"><i class="fas fa-plus-circle"></i></button> 
                    <p class="precio">
                        Precio: 
                    </p>
                    <p class="p-cantidad">$480.521</p>

                </div>
            </article>
            <article>
               <div>
                <i class="fas fa-truck"></i>
                <p class="envio">Envio a:</p>
                <p class="direccion">Calle falsa, N°123,Buenos aires</p>  
                <button class="cambiar">Cambiar</button>
               </div> 
            </article>
            <article>
                <img class="tarjetas" src="/images/icon/logo2.png" 
                alt="logo">
                <div class="contenedor-t">
                    <img class="tarjetas" src="/images/icon/tarjetas.jpg" alt="tarjetas">
                    <img  class= "ahora12" src="/images/icon/ahora12.svg" alt="ahora12">
                </div>
                <h3 class="p-total">
                    Total: $26.364
                </h3>
                <button class="finalizar">Finalizar compra</button>
            </article>
        </section>

    </main>

    <footer>
        <form>
            <h2>Recibe las mejores ofertas</h2>

            <div class="email">

            <i><img src="/images/icon/mail.svg" alt="Email"></i>

            <input type="email" placeholder="Email">

            </div>

            <button>Suscribirse</button>
        </form>

        <nav> 
            <div>
            <ul>
                <li><h3>Navegacion</h3></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>

            <ul class="ul-medios">
                <li><h3>Medios de Pago</h3></li>
                <li><a href="">Transferencia</a></li>
                <li><a href="">Credito y Debito</a></li>
                <li><a href="">Efectivo</a></li>
            </ul>
            </div>
            <div class="div-redes">
            <ul >
                <li><h3>Contacto</h3></li>
                <li><a href="">persona@gmail.com</a></li>
                <li><a href="">administrador@gmail.com</a></li>
            </ul>

            <ul class="ul-redes">
                <li><h3>Redes</h3></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
        </nav>
    </footer>
</body>

</html>