<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Detalle de producto</title>
</head>
<body class="detail">
    <header>
        <div class="contain-header">
            <nav class="nav-1">
                <img src="/images/icon/Logo.png" alt="logo" class="logo">

                <button href="#" class="b-menu"><i class="fas fa-bars menu"></i></button>
                
                <form>
                    
                    <input type="text" placeholder="Buscar">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <button class="user"><i class="fas fa-user-circle"></i></button>
                <button class="i-cart"><i class="fas fa-shopping-cart"></i></button>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="map">
            <a href="#">Inicio</a>
            <span> > </span>
            <a href="#">Productos</a>
            <span> > </span>
            <a href="#">PC gama media AMD</a>
        </div>

        <section class="vista">
            <div class="div-img-miniaturas">
                <div class="vista-miniaturas">
                    <button><img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="PC gama media AMD"></button>
                    <button><img src="/images/Pc/fuente.jpg" alt="Fuente"></button>
                    <button><img src="/images/Pc/mobo.jpg" alt="Motherboard"></button>
                    <button><img src="/images/Pc/ram.jpg" alt="Ram"></button>
                </div>
                <div class="contenedor-img vista-img">
                    <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="PC gama media AMD">
                    <button class="fav"><i class="far fa-heart"></i></button>
                </div>
            </div>
            <div class="vista-info">

                <h3>Pc Gamer amd Ryzen 3 3100</h3>
                <p class="vendido">Mas vendido</p>
                <p class="price">$ 460.560</p>
                <button class="cart-add"><i class="fas fa-cart-plus"></i></button>
                <p class="t-cuotas">12x $ 1.012,39 sin interés</p>
                <button class="b-cuotas">calcular cuotas</button>
                <div class="envios">
                    <i class="fas fa-truck"></i>
                    <p class="t-envios">Envios a Todo el Pais</p>
                    <button class="b-envios">Ver costos de envio</button>
                </div>
                <div class="cantidad">
                    <p class="t-cantidad">Cantidad :</p>
                    <button><i class="fas fa-minus-circle"></i></button>
                    <p class="n-cantidad">01</p>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div class="div-comprar">
                    <button class="b-comprar">Comprar</button>
                </div>
            </div>
        </section>
        <section class="comentarios">
            <div class="div-stars">
                <button class="star"><i class="fas fa-star"></i></button>
                <button class="star"><i class="fas fa-star"></i></button>
                <button class="star"><i class="fas fa-star"></i></button>
                <button class="star"><i class="fas fa-star-half-alt"></i></button>
                <button class="star"><i class="far fa-star"></i></button>
            </div>

            <button class="b-comentarios">Ver comentarios</button>
        </section>
        <section class="info-detail">
            <div class="descripcion">
                <h2>Descripcion</h2>
            
                <div class="decoracion">
                    <!-- LINEA DECORATIVA -->
                </div>

                <p>PC Gamer gama media de Amd</p>
            </div>
            <div class="especificaciones">
                <h2>Especificaciones</h2>
            
                <div class="decoracion">
                    <!-- LINEA DECORATIVA -->
                </div>

                <div class="espec">
                    <img src="/images/icon/cpu.svg" alt="cpu">
                    <p>AMD Ryzen 3 3100</p>
                </div>
                <div class="espec">
                    <img src="/images/icon/mother.svg" alt="Motherboard">
                    <p>Motherboard Asus A320M-K AM4</p>
                </div>
                <div class="espec">
                    <img src="/images/icon/ram.svg" alt="memoria ram">
                    <p>Oloy OWL 8GB DDR4 3200Mhz Negra</p>
                </div>    
                <div class="espec">
                    <img src="/images/icon/gpu.svg" alt="gpu">
                    <p>ASUS GeForce GTX 1050 Ti 4GB</p>
                </div>
                <div class="espec">
                    <img src="/images/icon/almacenamiento.svg" alt="ssd">
                    <p>Ssd 240gb Kingston Interno A400 Sata</p>
                </div>
                <div class="espec">
                    <img src="/images/icon/fuente.svg" alt="fuente">
                    <p>Fuente Aerocool Cylon 600w 80 Plus Bronze</p>
                </div>
                <div class="espec">
                    <img src="/images/icon/gabo.svg" alt="gabinete">
                    <p> Xigmatek Eros Rgb Atx Vidrio Templado</p>
                </div>
            </div>
        </section>

        <h2>Productos Relacionados</h2>
        
        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            <article>
                <a href="#" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/resident-evil-village.jpg" alt="Resident evil Village">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>RESIDENT EVIL VILLAGE</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-tablet">
                <a href="#" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/pc photoshop/pc.jpg" alt="COMPUTADORA PHOTOSHOP">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COMPUTADORA ARMADA PARA PHOTOSHOP</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 560.000</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="#" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps4_slim/ps4.jpg" alt="PS4 SLIM">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 4 SLIM</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="#" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps5/ps5.jpg" alt="PS5">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 5</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 159.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <div class="contain-footer">
        <form>
            <h2>Recibe las mejores ofertas</h2>

            <div class="email">

            <i><img src="/images/icon/mail.svg" alt="Email"></i>

            <input type="email" placeholder="Email">

            </div>

            <button>Suscribirse</button>
        </form>

        <nav> 
            <div>
            <ul>
                <li><h3>Navegacion</h3></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>

            <ul class="ul-medios">
                <li><h3>Medios de Pago</h3></li>
                <li><a href="">Transferencia</a></li>
                <li><a href="">Credito y Debito</a></li>
                <li><a href="">Efectivo</a></li>
            </ul>
            </div>
            <div class="div-redes">
            <ul >
                <li><h3>Contacto</h3></li>
                <li><a href="">persona@gmail.com</a></li>
                <li><a href="">administrador@gmail.com</a></li>
            </ul>

            <ul class="ul-redes">
                <li><h3>Redes</h3></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
        </nav>
        </div>
    </footer>
</body>
</html>