<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Inicio</title>
</head>
<body class="home">
    <header>
        <div class="contain-header">
            <nav class="nav-1">
                <a href="/" class="logo">
                    <img src="/images/icon/Logo.png" alt="logo" >
                </a>

                <button class="b-menu"><i class="fas fa-bars menu"></i></button>
                
                <form>
                    
                    <input type="text" name="search" placeholder="Buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <a href="/login" class="user"><i class="fas fa-user-circle"></i></a>
                <a href="/cart" class="i-cart"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="/">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

        <div class="div-banner"> </div>

        <div class="main">
        <section >
            <div class="redes">
            <h3>Seguinos en nuestras Redes</h3>

            <a href="#"><img src="/images/icon/facebook.png" alt="facebook"></a>
            <a href="#"><img src="/images/icon/instagram.png" alt="instagram"></a>
            <a href="#"><img class="twitter" src="/images/icon/twitter.png" alt="twitter"></a>
            </div>
        </section>

        <h2>Nuevos Lanzamientos</h2>
        
        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">

            <article>
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/resident-evil-village.jpg" alt="Resident evil Village">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>RESIDENT EVIL VILLAGE</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-tablet">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/pc-photoshop/pc.jpg" alt="COMPUTADORA PHOTOSHOP">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COMPUTADORA ARMADA PARA PHOTOSHOP</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 560.000</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps4_slim/ps4.jpg" alt="PS4 SLIM">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 4 SLIM</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps5/ps5.jpg" alt="PS5">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 5</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 159.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>

        <h2>Mas Vendidos</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            
            <article>
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps4.jpg" alt="PS4">
                    </div>  

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>PLAYSTATION 4</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-tablet">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="COMPUTADORA GAMA MEDIA">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>COMPUTADORA AMD GAMA MEDIA</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 460.417</p>
                            <p class="discount">24x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/juego-nintendo-switch--super-smash.jpg" alt="SMAHS BROSS">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>SMASH BROSS NINTENDO SWITCH</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/switch/nintendo.jpg" alt="SWITCH">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>NINTENDO SWITCH</h3>
                        </div>
                        <div class="info"> 
                            <p class="price">$ 159.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>

        <h2>Ofertas</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">

            <article>
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/pc-premire/pc-premire.jpg" alt="Pc de Edicion">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COMPUTADORA PARA EDICION</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 560.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-tablet">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/xbox-s.jpg" alt="XBOX ONE S">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>XBOX ONE S</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/spiderman.jpg" alt="SPIDERMAN PS4">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>SPIDERMAN PS4</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article class="producto-desktop">
                <a href="/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/callOfDuty-ps5.png" alt="COD PS5">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COD COLD WAR PS5</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </div>
    </main>
    <footer>
        <div class="contain-footer">
        <form>
            <h2 class="t-ofertas">Recibe las mejores ofertas</h2>

            <div class="email">

            <i><img src="/images/icon/mail.svg" alt="Email"></i>

            <input type="email" placeholder="Email">

            </div>

            <button>Suscribirse</button>
        </form>

        <nav> 
            <div>
            <ul>
                <li><h3 class="t-ul">Navegacion</h3></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>

            <ul class="ul-medios">
                <li><h3 class="t-ul">Medios de Pago</h3></li>
                <li><a href="">Transferencia</a></li>
                <li><a href="">Credito y Debito</a></li>
                <li><a href="">Efectivo</a></li>
            </ul>
            </div>
            <div class="div-redes">
            <ul >
                <li><h3 class="t-ul">Contacto</h3></li>
                <li><a href="">persona@gmail.com</a></li>
                <li><a href="">administrador@gmail.com</a></li>
            </ul>

            <ul class="ul-redes">
                <li><h3 class="t-ul">Redes</h3></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
        </nav>
        </div>
    </footer>
</body>
</html>