<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body class="login">



    <header>
        <div class="contain-header">
            <nav class="nav-1">
                <img src="/images/icon/logo FourGame.png" alt="logo" class="logo">

                <button href="#" class="b-menu"><i class="fas fa-bars menu"></i></button>

                <form>

                    <input type="text" placeholder="Buscar">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <button class="user"><i class="fas fa-user-circle"></i></button>
                <button class="i-cart"><i class="fas fa-shopping-cart"></i></button>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>



    <main>


        <div class="ruta">
            <a href="">Inicio</a>
            <span>></span>

            <a href="">Mi cuenta</a>
            <span>></span>

            <a class="a-posicion" href="">Iniciar sesión</a>
        </div>


        <form class="contenedorlogin" action="">

            <i class="fas fa-user-circle"></i>
            <h1>Iniciar sesión</h1>
            <input class="sesioninit" type="email" placeholder="Email">
            <input class="sesioninit" type="password" placeholder="Contraseña">

            <div class="captcha">
                <input type="checkbox" name="captcha" id="">
                <span>No soy un robot</span>
            </div>
            <button class="enter" type="submit">Ingresar</button>

            <div class="notenescuenta">
                <h4>¿no tenés una cuenta?</h4>
                <a href="">Registrate</a>
            </div>
        </form>

    </main>


    <footer>

        <div class="contain-footer">
            <form>
                <h2>Recibe las mejores ofertas</h2>

                <div class="email">

                    <i><img src="/images/icon/mail.svg" alt="Email"></i>

                    <input type="email" placeholder="Email">

                </div>

                <button>Suscribirse</button>
            </form>

            <nav>
                <div>
                    <ul>
                        <li>
                            <h3>Navegacion</h3>
                        </li>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Nosotros</a></li>
                    </ul>

                    <ul class="ul-medios">
                        <li>
                            <h3>Medios de Pago</h3>
                        </li>
                        <li><a href="">Transferencia</a></li>
                        <li><a href="">Credito y Debito</a></li>
                        <li><a href="">Efectivo</a></li>
                    </ul>
                </div>
                <div class="div-redes">
                    <ul>
                        <li>
                            <h3>Contacto</h3>
                        </li>
                        <li><a href="">persona@gmail.com</a></li>
                        <li><a href="">administrador@gmail.com</a></li>
                    </ul>

                    <ul class="ul-redes">
                        <li>
                            <h3>Redes</h3>
                        </li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Twitter</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>
</body>