<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Carga de Producto</title>
</head>

<body class="loading">



    <header>
        <div class="contain-header">
            <nav class="nav-1">
                <a href="/" class="logo">
                    <img src="/images/icon/Logo.png" alt="logo" >
                </a>

                <button class="b-menu"><i class="fas fa-bars menu"></i></button>
                
                <form>
                    
                    <input type="text" name="search" placeholder="Buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <a href="/login" class="user"><i class="fas fa-user-circle"></i></a>
                <a href="/cart" class="i-cart"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="/">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>



    <main>




        <article class="contenedor">
            <form action="">

                <section class="primero">
                    <h2> Elige el tipo de producto y su categoría</h2>
                    <button class="boton1">Consolas</button>
                    <button class="boton2">Playstation</button>
                </section>


                <section class="segundo">

                    <div class="caja-grande">


                        <div class="cont-mini-pctablet">
                            <img class="img-mini-tablet-pc" src="/images/consolas/ps5/mando.jpeg" alt="" width="100%">
                            <img class="img-mini-tablet-pc" src="/images/juegos/juego-ps5-2.png" alt="" width="100%">
                            <img class="img-mini-tablet-pc" src="/images/juegos/Demons-Souls-PS5.png" alt=""
                                width="100%">
                            <img class="img-mini-tablet-pc" src="/images/icon/plus-circle.svg" alt="" width="100%">

                        </div>

                        <div class="contenedor-producto">
                            <img class="img-producto" src="/images/consolas/ps5/ps5.jpg" alt="" width="100%">
                        </div>


                    </div>

                    <div class="contenedor-form">

                        <div class="div-form">
                            <input type="text" name="nombreProducto" placeholder="Nombre">
                            <input type="text" name="precio" placeholder="Precio">
                            <input type="text" name="stock" placeholder="Stock">
                        </div>

                    </div>
                </section>


                <section class="tercero">

                    <h3>Descripción</h3>

                    <div class="lineaRosa"></div>

                    <div class="contenedor-descripcion">
                        <textarea name="descripcion" class="description" type="text"
                            placeholder="Ingrese la Descripción del producto"></textarea>
                    </div>

                    <h3>Especificaciones</h3>

                    <div class="lineaRosa"></div>


                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/cpu.svg" alt="" class="componentepc" width="15%">
                        <textarea name="cpu" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/motherboard.svg" alt="" class="componentepc" width="15%">
                        <textarea name="motherboard" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/ram.svg" alt="" class="componentepc" width="15%">
                        <textarea name="ram" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/gpu.svg" class=" componentepc" width="15%">
                        <textarea name="gpu" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/almacenamiento.svg" alt="" class="componentepc" width="15%">
                        <textarea name="almacenamiento" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/fuente.svg" alt="" class="componentepc" width="15%">
                        <textarea name="fuente" type="text" class="titulocomponente"></textarea>
                    </div>
                    <div class="SiEncontrasteEsteEasterEgg">
                        <img src="/images/icon/gabo.svg" alt="" class="componentepc" width="15%">
                        <textarea name="gabinete" type="text" class="titulocomponente"></textarea>
                    </div>



                </section>
                <button type="submit" class="finalizar">Cargar producto</button>
            </form>
        </article>

    </main>

    <footer>
        <div class="contain-footer">
        <form>
            <h2 class="t-ofertas">Recibe las mejores ofertas</h2>

            <div class="email">

            <i><img src="/images/icon/mail.svg" alt="Email"></i>

            <input type="email" placeholder="Email">

            </div>

            <button>Suscribirse</button>
        </form>

        <nav> 
            <div>
            <ul>
                <li><h3 class="t-ul">Navegacion</h3></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>

            <ul class="ul-medios">
                <li><h3 class="t-ul">Medios de Pago</h3></li>
                <li><a href="">Transferencia</a></li>
                <li><a href="">Credito y Debito</a></li>
                <li><a href="">Efectivo</a></li>
            </ul>
            </div>
            <div class="div-redes">
            <ul >
                <li><h3 class="t-ul">Contacto</h3></li>
                <li><a href="">persona@gmail.com</a></li>
                <li><a href="">administrador@gmail.com</a></li>
            </ul>

            <ul class="ul-redes">
                <li><h3 class="t-ul">Redes</h3></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
        </nav>
        </div>
    </footer>

</body>

</html>