<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Carga de Producto</title>
</head>

<body class="loading">

    <header>
        <img src="/images/icon/logo FourGame.png" alt="logo" class="logo">

        <button href="#" class="b-menu"><i class="fas fa-bars menu"></i></button>
        
        <form>
            
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </form>

        <button class="user"><i class="fas fa-user-circle"></i></button>
        <button class="cart"><i class="fas fa-shopping-cart"></i></button>


        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <article class="contenedor">

            <section class="primero">
                <h2> Elige el tipo de producto y su categoría</h2>
                <form action="" class="botones">
                    <button class="boton1">Consolas</button>
                    <button class="boton2">Playstation</button>
                </form>
            </section>

            <section class="segundo">
                <img class="img-producto" src="/images/consolas/ps5/ps5.jpg" alt="" width="100%">
                <img class="img-mini" src="/images/consolas/ps5/mando.jpeg" alt="" width="30%">
                <img class="icon" src="/images/icon/plus-circle.svg" alt="" width="15%">
                <form action="">
                    <input type="text" placeholder="Nombre del artículo">
                    <input type="text" placeholder="Precio">
                    <input type="text" placeholder="Stock">
                </form>
            </section>

            <section class="tercero">

                <h3>Descripción</h3>

                <div class="lineaRosa"></div>
                <form action="" class="description">
                    <input type="text" placeholder="Ingrese la Descripción del producto">
                </form>

                <h3>Especificaciones</h3>

                <div class="lineaRosa"></div>

                <img src="/images/icon/cpu.svg" alt="" class="componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/motherboard.svg" alt="" class="componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/ram.svg" alt="" class="componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/gpu.svg alt="" class=" componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/almacenamiento.svg" alt="" class="componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/fuente.svg" alt="" class="componentepc" width="15%">
                <input type="text"class="titulocomponente">
                <img src="/images/icon/gabo.svg" alt="" class="componentepc" width="15%">
                <input type="text" class="titulocomponente">


            </section>
            <button class="finalizar">Cargar producto</button>
        </article>

    </main>

    <footer>
        <form>
            <h2>Recibe las mejores ofertas</h2>

            <div class="email">

            <i><img src="/images/icon/mail.svg" alt="Email"></i>

            <input type="email" placeholder="Email">

            </div>

            <button>Suscribirse</button>
        </form>

        <nav> 
            <div>
            <ul>
                <li><h3>Navegacion</h3></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>

            <ul class="ul-medios">
                <li><h3>Medios de Pago</h3></li>
                <li><a href="">Transferencia</a></li>
                <li><a href="">Credito y Debito</a></li>
                <li><a href="">Efectivo</a></li>
            </ul>
            </div>
            <div class="div-redes">
            <ul >
                <li><h3>Contacto</h3></li>
                <li><a href="">persona@gmail.com</a></li>
                <li><a href="">administrador@gmail.com</a></li>
            </ul>

            <ul class="ul-redes">
                <li><h3>Redes</h3></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
        </nav>
    </footer>

</body>

</html>