/* /* main                          */
.cart main section .contenedor-c{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
}
.cart main section .carrito{
    font-size: 97%;
    margin: 20% 21% 0% 14%;
    display: inline-block;
}
.cart main section  .back{
    font-size: 200%;
    text-shadow: 0px 5px 4px rgb(100 100 100 / 57%);
}

.cart main section  .back:active{
    text-shadow: none;
}
/* producto */
.cart main section article{
    background-color: white;
    border-radius: 20px;
    padding: 7%;
    margin: 5% 10% 10% 10%;
    position: relative;
    text-align: center;
}
.cart main section .eliminar {
    top: 3%;
    left: 87%;
    font-size: 8vw;
    position: absolute;
    text-shadow: 0px 5px 4px rgb(100 100 100 / 57%);
}
.cart main section .eliminar:active{
    text-shadow: none;
}
.cart main section .descripcion {
    margin: 10% 1% 10% 0%;
    font-size: 5vw;
}
.cart main section  .cuotas{
    display: none;
}
.cart main section  .b-cuotas{
    display: none;
}
.cart main section  .b-cuotas:hover{
    color: #6152e2;
}
.cart main section  .b-cuotas:active{
    color: #897fe4;
}
.cart main section .d-cantidad{
    text-align: left;
}
.cart main section .cantidad {
    margin: 10% 19.3vw 10% 0%;
    font-weight: 700;
    font-size: 4.9vw;
    display: inline-block;
}
.cart main section .b-suma {
    color: #F2204D;
    background-color: white;
    font-size: 8vw;
}
.cart main section .b-suma:hover{
    color: #cc1a40;
}
.cart main section .b-suma:active{
    color: #a81535;
}
.cart main section .n-cantidad {
    font-weight: 700;
    font-size: 8vw;
    display: inline-block;
    margin: 0% 1%;
}
.cart main section .c-precio{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}
.cart main section .precio {
    font-weight: 700;
    display: inline-block;
    font-size: 6vw;
}
.cart main section .p-cantidad {
    font-weight: 700;
    display: inline-block;
    font-size: 6vw;
}
/* envios */
.cart main section .fa-truck{
    font-size: 12vw;
    margin: 10% 9% 10% 0%;
}
.cart main section .envio{
    display: inline-block;
    font-weight: 700;
}
.cart main section .direccion{
    color: #B2A7A7;
    margin: 0% 0% 0% 0%;

}
.cart main section .cambiar{
    color: #3D2ED0;
    margin: 15% 0% 0% 0%;
    font-size: 5vw;
    font-weight: 600;
    /* text-shadow: 0px 5px 4px rgb(100 100 100 / 57%); */
    text-align: center;
}
.cart main section .cambiar:hover{
    color: #6152e2;
}
.cart main section .cambiar:active{
    color: #897fe4;
}

/* tarjetas */
.cart main section article .contenedor-t{
    position: relative;
}
.cart main section article .tarjetas-logo{
    width: 50% ;
}
.cart main section article .tarjetas{
    width: 100%;
}
.cart main section article .ahora12{
    width: 25%;
    position: absolute;
    top: 67%;
    left: 35%;
}
.cart main section article .p-total{
    font-weight: 700;
    font-size: 8vw;
    margin: 33% 0% 30% 0%;
}
.cart main section article .finalizar {
    color: white;
    background-color: #3D2ED0;
    border-radius: 22px;
    font-size: 4.9vw;
    padding: 9% 22% 9% 22%;
    font-weight: 600;
    text-align: center;
}
.cart main section article .finalizar:hover{
    background-color: #3021b9;
}
.cart main section article .finalizar:active{
    background-color: #241a81;
}

/* tablet */
@media (min-width:768px){
    .cart main section article  {
        text-align: left;
    }
    .cart main section .carrito {
        font-size: 4vw;
        margin: 10% 0% 0% 12%;
    }
    .cart main section .back{
        font-size: 5vw;
    }
    .cart main section .eliminar{
        font-size: 5vw;
    }
    .cart main section .c-producto{
        position: relative;
    }
    .cart main section .descripcion{
        font-size: 5vw;
    }
    .cart main section  .d-cantidad{
        text-align: initial;
    }
    .cart main section .cantidad {
        margin: 0% 28.3vw 0% 0%;
        font-size: 5vw;
    }
    .cart main section .b-suma {
        font-size: 5vw;
    }
    .cart main section .n-cantidad {
        font-size: 5vw;
        position: relative;
    }
    .cart main section .precio {
        margin: 10% 39% 0% 0%;
        font-size: 5vw;
    }
    .cart main section .p-cantidad {
        font-size: 4vw;
    }
    /* direccion tablet */
    .cart main section .c-envios {
        height: 31vw;
        position: relative;
        border-radius: 40px;
    }
    .cart main section .fa-truck {
        font-size: 16vw;
        position: absolute;
        left: 6vw;
        top: -2vw;
    }
    .cart main section .envio {
        font-size: 5vw;
        position: absolute;
        top: 15%;
        left: 39%;
    }
    .cart main section .direccion {
        font-size: 4.4vw;
        position: absolute;
        top: 37%;
        left: 39%;
    }
    .cart main section .cambiar {
        font-size: 5vw;
        position: absolute;
        top: 38%;
        left: 40%;
    }
    /* finalizar compra */
    .cart main section  .c-tarjetas{
        text-align: center;
    }
    .cart main section article .tarjetas-logo {
        width: 50%;
    }
    .cart main section article .contenedor-t {
        width: 100%;
    }
    .cart main section article .contenedor-t .tarjetas {
        width: 100%;
    }
    .cart main section article .ahora12 {
        width: 23%;
        top: 68%;
        left: 35%;
    }
    .cart main section article .p-total{
        font-size: 5vw;
        margin: 14% 0% 14% 0%;
    }
    .cart main section article .finalizar {
        border-radius: 22px;
        font-size: 178%;
        padding: 5% 9% 5% 9%;
    }
}


/* escritorio */
@media (min-width:1024px){
    .cart main section .carrito {
        font-size: 5vw;
    } 
    .cart main section .back {
        font-size: 6vw;
        cursor: pointer;
    }
    .cart main section .c-producto {
        height: 30vw;
        text-align: initial;
        padding: 10px;
        margin-top: 2%;
    }
   
    .cart main section article .c-img {
        width: 29%;
        display: inline-block;
        height: 100%;
    }
    
    .cart main section article img {
        width: 90%;
    }
    .cart main section article .infoProducto{
        width: 70%;
        display:inline-block;
        height: 100%;
    }
    .cart main section .eliminar {
        font-size: 3.5vw;
        margin: 3% 0% 0% 3%;
        cursor: pointer;
    }
    .cart main section .descripcion {
        font-size: 3vw;
        margin: 5% 0% 2% 0%;
        
    }
    .cart main section .cantidad {
        
        font-size: 3vw;
    }
    .cart main section .b-suma{
        font-size: 4vw;
        cursor: pointer;
    }
    .cart main section .n-cantidad {
        font-size: 4vw;
        margin: 0% 3%;
    } 
    .cart main section .c-precio {
        justify-content: flex-start;
    }
    .cart main section .precio {
        font-size: 3vw;
        margin: 3% 39% 0% 0%;
    }
    .cart main section .cantidad {
        font-size: 3vw;
        margin: 0% 32% 0% 0%;
    }
    .cart main section .p-cantidad{
        font-size: 3vw;
    }
    .cart main section .cuotas {
        color: #33CC33;
        font-size: 2vw;
        margin: 3% 0% 1% 0%;
        display: inline-block;
    }
    .cart main section .b-cuotas {
        color: #3D2ED0;
        margin: 0% 0% 1% 0%;
        font-size: 2vw;
        display: block;
        cursor: pointer;
    }
    .cart main section .c-envios {
        height: 15vw;
    }
    .cart main section .fa-truck {
        font-size: 10vw;
        margin: 6% 0% 0% 0%;
    }
    .cart main section .envio {
        font-size: 3vw;
        display: inline-block;
        margin: 2% 0% 0% -8%;
    }
    
    .cart main section .direccion {
        font-size: 2.5vw;
        position: absolute;
        top: 30%;
        left: 48%;
    }
    .cart main section .cambiar {
        font-size: 2.7vw;
        margin: 4.4% -2% 0% -9%;
        cursor: pointer;
    }
    .cart main section article .tarjetas-logo {
        width: 20%;
        margin: 0% 0px 0% -88%;
    }
    .cart main section article .contenedor-t {
        width: 80%;
        margin: -25% 0% 0% 24%;
    }
    .cart main section article .p-total {
        font-size: 262%;
        margin: 12% 59% -25% 0%;
    }
    .cart main section article .finalizar {
        font-size: 3vw;
        margin: 15% -38% 0% 13%;
        padding: 3% 7%;
        cursor: pointer;
    }
} 