/*                              main                          */
.cart main article{
    background-color: white;
    border-radius: 20px;
    padding: 7%;
    margin: 10%;
    position: relative;
    text-align: center;
}
.cart main section .carrito{
    font-size: 97%;
    margin: 20% 21% 0% 14%;
    display: inline-block;
}
.cart main .back{
    font-size: 200%;
}
.cart main .contenedor-c{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
}
/* producto */
.cart main .eliminar{
    top: 3%;
    left: 87%;
    font-size: 140%;
    position: absolute;
}
.cart main .descripcion{
    margin: 10% 0% 10% 0%;
}
.cart main .cantidad{
    margin: 10% 15% 10% 0%;
    font-weight: 700;
    font-size: 120%;
    display: inline-block;
}
.cart main .b-suma{
    color: #F2204D;
    background-color: white;
    font-size: 170%;
    

}
.cart main .n-cantidad{
    font-weight: 700;
    font-size: 140%;
    display: inline-block;
}
.cart main .precio{
    margin: 10% 9% 10% 0%;
    font-weight: 700;
    display: inline-block;
    font-size: 155%;
}
.cart main .p-cantidad{
    font-weight: 700;
    display: inline-block;
    font-size: 131%;
}
/* envios */
.cart main .fa-truck{
    font-size: 240%;
    margin: 10% 9% 10% 0%;
}
.cart main .envio{
    display: inline-block;
    font-weight: 700;
}
.cart main .direccion{
    color: #B2A7A7;
    margin: 0% 0% 0% 0%;

}
.cart main .cambiar{
    color: #3D2ED0;
    margin: 15% 0% 0% 0%;
    font-size: 120%;
    font-weight: 600;
    text-shadow: 0px 5px 4px rgb(100 100 100 / 57%);
}

/* tarjetas */
.cart main article .contenedor-t{
    position: relative;
}
.cart main article .tarjetas{
    width: 100% ;
}
.cart main article .ahora12{
    width: 25%;
    position: absolute;
    top: 67%;
    left: 35%;
}
.cart main article .p-total{
    font-weight: 700;
    font-size: 162%;
    margin: 33% 0% 30% 0%;
}
.cart main article .finalizar{
    color: white;
    background-color: #3D2ED0;
    border-radius: 42px;
    font-size: 98%;
    padding: 8% 20% 8% 20%;
    font-weight: 600;
}

/* tablet */
@media (min-width:768){

}


/* escritorio */
@media (min-width:1024){
    
}