
.detail main{
    width: 90%;
    margin: auto;
}


/*  MAPA DEL SITIO  */

.detail main .map{
    color: #3D2ED0;
    text-align: center;
    margin: 33% 0% 0% 0%;
    font-size: 4.8vw;
}

.detail main .map a{
    color: #3D2ED0;

}

.detail main .map a:hover{
    color: #6152e2;
}

.detail main .map a:active{
    color: #897fe4;
}

.detail main .map a:last-child{
    font-weight: 700;
}

/*                   */

.detail main .vista{
    background-color: #ffffff;
    margin: 3% 0% 0% 0%;
    height: 235vw;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    position: relative;
}

.detail main .vista .vista-miniaturas{
    display: none;
}

.detail main .vista .vista-img{
    height: 40%;
    width: 100%;
    position: relative;
}

.detail main .vista .vista-img .fav {
    position: absolute;
    font-size: 10.8vw;
    top: 5.3%;
    right: -0.1%;
}

.detail main .vista .vista-img .fav:active{
    color: red;

}

.detail main .vista .vista-img img{
    /* width: 87%; */
    width: 82.3%;
    margin-top: 10vw;
}

.detail main .vista .vista-info{
    height: 60%;
    
}

.detail main .vista .vista-info h3{
    font-size: 7vw;
    margin:10px 0px;
}

.detail main .vista .vista-info .vendido{
    color: #ffffff;
    background-color: #3D2ED0;
    border: 2px solid black;
    width: 35vw;
    font-size: 5vw;
    text-align: center;
}

/*        PRECIO      */

.detail main .vista .vista-info .price{
    font-size: 10vw;
    font-weight: 500;
    display: inline-block;
    margin: 10vw 0px 5vw;
}

.detail main .vista .vista-info .cart-add{
    font-size: 10vw;
    margin-left: 16vw;
}

.detail main .vista .vista-info .cart-add:hover{
    color: rgb(43, 42, 42);
}

.detail main .vista .vista-info .cart-add:active{
    color: rgb(61, 60, 60);
}

/*                   */

/*      CUOUTAS      */

.detail main .vista .vista-info .t-cuotas{
    color: #33CC33;
    font-size: 5.4vw;
    margin-bottom: 1vw;
}   

.detail main .vista .vista-info .b-cuotas{
    display: block;
    font-size: 6vw;
    color: #3D2ED0;
    font-weight: 500;
}

.detail main .vista .vista-info .b-cuotas:hover{
    color: #6152e2;
}

.detail main .vista .vista-info .b-cuotas:active{
    color: #897fe4;
}

/*                   */


/*      ENVIOS       */

.detail main .vista .vista-info .envios{
    position: relative;
    margin: 10vw 0;
}

.detail main .vista .vista-info .envios .fa-truck{
    font-size: 12vw;
    margin: 5vw 4.5vw 4vw 0;
}

.detail main .vista .vista-info .envios .t-envios{
    display: inline-block;
    font-weight: 700;
    font-size: 6vw;
    position: absolute;
    top: 4vw;
}

.detail main .vista .vista-info .envios .b-envios{
    font-size: 4.3vw;
    color: #3D2ED0;
    font-weight: 500;
    position: absolute;
    bottom: 4vw;
}

.detail main .vista .vista-info .envios .b-envios:hover{
    color: #6152e2;
}

.detail main .vista .vista-info .envios .b-envios:active{
    color: #897fe4;
}

/*                   */

/*     CANTIDAD      */

.detail main .vista .vista-info .cantidad {
    margin: 5vw 0 10vw;
}

.detail main .vista .vista-info .cantidad .t-cantidad{
    display: inline-block;
    font-weight: 700;
    font-size: 5.4vw;
}

.detail main .vista .vista-info .cantidad button{
    color: #F2204D;
    font-size: 9vw;
    margin: 0 3.6vw;
}


.detail main .vista .vista-info .cantidad button:hover{
    color: #cc1a40;
}

.detail main .vista .vista-info .cantidad button:active{
    color: #a81535;
}

.detail main .vista .vista-info .cantidad .n-cantidad{
    font-weight: 700;
    font-size: 10vw;
    display: inline-block;
}

/*                   */

/*      COMPRAR      */

.detail main .vista .vista-info .div-comprar{
    text-align: center;
}

.detail main .vista .vista-info .b-comprar{
    background-color: #F2204D;
    color: #ffffff;
    padding: 6px 0px;
    font-size: 10vw;
    border-radius: 25px;
    width: 65vw;
    margin: -4.2vw;
}

.detail main .vista .vista-info .b-comprar:hover{
    background-color: #cc1a40;
}

.detail main .vista .vista-info .b-comprar:active{
    background-color: #a81535;
}

/*                   */

/* SECTION COMENTARIOS */

.detail main .comentarios{
    background-color: #ffffff;
    height: 40vw;
    border-radius: 25px;
    text-align: center;
    margin: 7.2vw 0
}

.detail main .comentarios .div-stars .star{
    font-size: 13vw;
    padding: 5vw 0;
}

.detail main .comentarios .b-comentarios{
    font-size: 7vw;
    font-weight: 500;
    color: #3D2ED0;
}

.detail main .comentarios .b-comentarios:hover{
    color: #6152e2;
}

.detail main .comentarios .b-comentarios:active{
    color: #897fe4;
}

/*                      */

/* SECTION DESCRIPCION Y ESPECIFICACIONES   */

.detail main .info-detail{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 16px;
}

.detail main .info-detail .descripcion p{
    font-size: 5.9vw;
    margin: 5vw 5vw;
}

.detail main .info-detail .especificaciones .espec img{
    width: 25%;
    width: 25%;
    margin-bottom: 5vw;
}

.detail main .info-detail .especificaciones .espec{
    text-align: center;
    margin: 11.5vw 0;
}

.detail main .info-detail .especificaciones .espec p{
    font-size: 7vw;
    margin-bottom: 0;
}

/* SECTION PRODUCTOS RELACIONADOS */

   .detail main h2{
    color: #848484;
    text-align: center;
    margin: 10% 0% 2% 0%;
    font-size: 8vw;
}

.detail main .decoracion{
    background-color: #F77490;
    color: #F77490;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    margin: 0% 0% 2.5vw 0%;
}

.detail main section article a{
    color: black;
}

.detail main section article{
    background-color: #ffffff;
    width: 80vw;
    height: 131.3vw;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    position: relative;
    cursor: pointer;
}

.detail main article:hover{
    box-shadow: 0px 0px 20px #3D2ED0;
}

.detail main section article i:active{
    color: red;

}

.detail main section .contenedor-img {
    height: 65.65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail main section article .contenedor-img img{
    width: 87%;
}

.detail main section article .product-info{
    height: 65.65vw;
    border-top: 1px solid #B2B2B2;
}

.detail main section article .title{
    height: 26vw;
}

.detail main section article .info{
    height: 26vw;
}

.detail main section article div button{
    position: absolute;
    font-size: 180%;
    top: 5%;
    right: 5%;
    color: black;
}

.detail main section article div h3{
    font-size: 6vw;
    font-weight: 500;
    text-align: center;
    color: #3E3E3E;
    color: #3E3E3E;
    margin: 9vw 0% 10vw 0%;
}

.detail main section article div .price{
    font-size: 10vw;
    margin-bottom: 3%;
}

.detail main section article div .discount{
    color: #33CC33;
    font-size: 5vw;
}

.detail main .producto-tablet,.producto-desktop{
    display: none;
}

    /*                          TABLET                            */

@media (min-width:600px){

    /*  MAPA DEL SITIO   */

    .detail main .map {
        text-align: left;
        font-size: 3vw;
        margin-top: 15vw;
    }

    /*  SECTION DEL ARTICULO ENTERO  */

    .detail main .vista {
        height: 172.2vw;
    }

    /*         IMG EN MINIATURA      */

    .detail main .vista .div-img-miniaturas{
        display: flex;
        padding: 4vw 1vw;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas {
        display: initial;
        width: 12.3%;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas .b-miniatura{
        margin-bottom: 15px;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas .b-miniatura img{
        width: 100%;
    }

    /*      IMG PRINCIPAL Y CORAZON           */

    .detail main .vista .vista-img {
        height: 40%;
        width: 76.8%;
    }

    .detail main .vista .vista-img img {
        width: 69%;
        margin-top: 0;
    }

    .detail main .vista .vista-img .fav {
        top: -2%;
        right: -0.1%;
        font-size: 6.6vw;
    }

    /*     SECTION DEL DETALLE DEL PRODUCTO */

    .detail main .vista .vista-info {
        width: 70.1%;
        margin: auto;
    }


    /*      TITULO Y MAS VENDIDO */

    .detail main .vista .vista-info h3 {
        font-size: 5.7vw;
    }

    .detail main .vista .vista-info .vendido {
        width: 22.7vw;
        font-size: 3.4vw;
    }


    /*    PPRECIO Y CARRITO    */

    .detail main .vista .vista-info .price {
        font-size: 7.6vw;
        margin: 7.8vw 0px 5vw;
    }

    .detail main .vista .vista-info .cart-add {
        font-size: 7.6vw;
        margin-left: 12vw;
    }


    /*      CUOTAS           */

    .detail main .vista .vista-info .t-cuotas {
        font-size: 4.1vw;
    }

    .detail main .vista .vista-info .b-cuotas {
        font-size: 4.5vw;
    }


    /*      ENVIOS          */

    .detail main .vista .vista-info .envios {
        margin: 0vw 0;
    }

    .detail main .vista .vista-info .envios .fa-truck {
        font-size: 8.8vw;
    }

    .detail main .vista .vista-info .envios .t-envios {
        font-size: 4vw;
    }

    .detail main .vista .vista-info .envios .b-envios {
        font-size: 3.4vw;
    }


    /*      CANTIDAD     */

    .detail main .vista .vista-info .cantidad .t-cantidad {
        font-size: 4.6vw;
    }

    .detail main .vista .vista-info .cantidad button {
        font-size: 7.6vw;
        margin: 0 2.5vw;
    }

    .detail main .vista .vista-info .cantidad .n-cantidad {
        font-size: 8.4vw;
    }


    /*      COMPRAR         */

    .detail main .vista .vista-info .b-comprar {
        font-size: 7.3vw;
        width: 44.1vw;
        margin: -8.8%;
    }


    /* SECTION COMENTARIOS */

    .detail main .comentarios {
        height: 21.3vw;
    }

    .detail main .comentarios .div-stars .star {
        font-size: 8.5vw;
        padding: 2.6vw 2vw;
    }

    .detail main .comentarios .b-comentarios {
        font-size: 4.3vw;
    }


    /* SECTION DESCRIPCION Y ESPECIFICACIONES   */

    .detail main .info-detail {
        padding: 16px 34.1px;
    }

    .detail main .info-detail .descripcion p {
        font-size: 2.7vw;
        margin: 0 50px 0 50px;

    }

    .detail main .info-detail .especificaciones .espec {
        text-align: initial;
        margin: 3.9vw 0 0 6.3vw;
        display: flex;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid;
        padding-bottom: 2.2vw;
    }

    .detail main .info-detail .especificaciones .espec img {
        width: 9.8%;
        margin: 0vw 5.4vw 0vw 0.4vw;
    }

    .detail main .info-detail .especificaciones .espec p {
        font-size: 2.1vw;
        display: inline-block;
    }

    /* SECTION PRODUCTOS RELACIONADOS */

    .detail main h2 {
        font-size: 4vw;
        margin: 2% 0% 1vw 0%;
    }

    .detail main .productos {
        display: flex;
        justify-content: space-evenly;
    }

    .detail main .producto-tablet{
        display: initial;
    }

    .detail main section article {
        width: 40vw;
        height: 70vw;
    }

    .detail main section .contenedor-img {
        /* height: 32.65vw; */
        height: 50%;
    }

    .detail main section article .product-info {
        /* height: 32.65vw; */
        height: 50%;
    }

    .detail main section article .title {
        /* height: 16.3vw; */
        height: 50%;
    }

    .detail main section article div h3 {
        font-size: 2.8vw;
        margin: 3vw 0% 8vw 0%;
    }

    .detail main section article .info {
        /* height: 16.3vw; */
        height: 50%;
    }

    .detail main section article div .price {
        font-size: 5.7vw;
    }

    .detail main section article div .discount {
        font-size: 2.7vw;
    }

}

/*                                       DESKTOP                                 */

@media (min-width:960px){

    /*  MAPA DEL SITIO */

    .detail main .map {
        font-size: 2vw;
        margin: 10% auto 0;
        width: 90%;
    }

    /*      ARTICULO ENTERO */

    .detail main .vista {
        height: 42.4vw;
        width: 90%;
        display: flex;
        margin: 1.7% auto 0% auto;
    }

    /*     IMG EN MINIATURA      */

    .detail main .vista .div-img-miniaturas {
        padding: 0vw;
        width: 60%;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas {
        padding-top: 4vw;
        margin-right: 10px;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas .b-miniatura{
        margin-bottom: 18.7px;
        cursor: pointer;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas .b-miniatura:hover{
        border: 3px solid #3D2ED0;
    }

    .detail main .vista .div-img-miniaturas .vista-miniaturas .b-miniatura img {
        width: 87.8%;
    }

    /*      IMG PRINCIPAL Y CORZON     */

    .detail main .vista .vista-img {
        height: 100%;
    }

    .detail main .vista .vista-img img {
        width: 84%;
    }

    .detail main .vista .vista-img .fav {
        top: 3.7%;
        right: -4.9%;
        font-size: 3.8vw;
        cursor: pointer;
    }

    /*     INFO DETALLADA DEL ART */

    .detail main .vista .vista-info {
        width: 40%;
        height: 100%;
        padding-top: 1vw;
    }

     /*      TITULO Y MAS VENDIDO */

    .detail main .vista .vista-info h3 {
        font-size: 2.9vw;
    }

    .detail main .vista .vista-info .vendido {
        width: 10.8vw;
        font-size: 1.5vw;
    }

    /*    PPRECIO Y CARRITO    */

    .detail main .vista .vista-info .price {
        font-size: 3.5vw;
        margin: 1.5vw 0px 0.6vw;
    }

    .detail main .vista .vista-info .cart-add {
        font-size: 3.7vw;
        margin-left: 7.3vw;
        cursor: pointer;
    }

    /*      CUOTAS           */

    .detail main .vista .vista-info .t-cuotas {
        font-size: 1.7vw;
        margin: 0vw;
    }

    .detail main .vista .vista-info .b-cuotas {
        font-size: 1.6vw;
        cursor: pointer;
    }

    /*      ENVIOS          */

    .detail main .vista .vista-info .envios .fa-truck {
        font-size: 4vw;
        margin: 1.6vw 2.6vw 0.8vw 0;
    }

    .detail main .vista .vista-info .envios .t-envios {
        font-size: 2vw;
        top: 1.3vw;
    }

    .detail main .vista .vista-info .envios .b-envios {
        font-size: 1.5vw;
        bottom: 1vw;
        cursor: pointer;
    }

    /*      CANTIDAD     */

    .detail main .vista .vista-info .cantidad {
        margin: 0vw;
    }

    .detail main .vista .vista-info .cantidad .t-cantidad {
        font-size: 2.2vw;
        margin-right: 2.3vw;
    }

    .detail main .vista .vista-info .cantidad button {
        font-size: 3.1vw;
        margin: 0 1.4vw;
        cursor: pointer;
    }

    .detail main .vista .vista-info .cantidad .n-cantidad {
        font-size: 3.6vw;
    }

    /*      COMPRAR         */

    .detail main .vista .vista-info .b-comprar {
        font-size: 2.7vw;
        width: 18.9vw;
        margin: 0.8vw 0vw 0vw 0vw;
        cursor: pointer;
    }

    /* SECTION COMENTARIOS */

    .detail main .comentarios {
        height: 9vw;
        width: 90%;
        text-align: left;
        margin: 5vw auto;
    }

    .detail main .comentarios .div-stars{
        display: inline-block;
        width: 40%;
        margin: 0 13.6vw 0 6.2vw;
    }

    .detail main .comentarios .div-stars .star {
        font-size: 3.9vw;
        padding: 2.1vw 0.7vw;
        cursor: pointer;
    }

    .detail main .comentarios .b-comentarios {
        font-size: 2.5vw;
        cursor: pointer;
    }

    /* SECTION DESCRIPCION Y ESPECIFICACIONES   */

    .detail main .info-detail {
        width: 90%;
        margin: auto;
    }

    .detail main .info-detail h2 {
        text-align: left;
        font-size: 2.5vw;
        margin: 1.2vw 0 1vw 2vw;
    }

    .detail main .info-detail .descripcion {
        text-align: initial;
        height: 18.6vw;
    }

    .detail main .info-detail .descripcion p {        
        font-size: 2vw;

    }

    .detail main .info-detail .especificaciones .espec {
        text-align: initial;
        margin: 2.2vw 0 0 4vw;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .detail main .info-detail .especificaciones .espec img {
        width: 7.2%;
        margin: 0vw 5.4vw 0vw 0.4vw;
    }

    .detail main .info-detail .especificaciones .espec p {
        font-size: 1.7vw;
        display: inline-block;
    }

    /* SECTION PRODUCTOS RELACIONADOS */

    .detail main h2 {
        font-size: 3.9vw;
    }

    .detail main .decoracion {
        margin: 0% 0% 2,.5vw 0%;
    }

    .detail main .producto-desktop{
        display: initial;
    }

    .detail main section article {
        width: 18vw;
        height: 32.5vw;
    }

    .detail main section article div h3 {
        font-size: 1.2vw;
        margin: 1.4vw 0% 8vw 0%;
    }

    .detail main section article div .price {
        font-size: 2.8vw;
    }

    .detail main section article div .discount {
        font-size: 1.3vw;
    }
}
