               
               /*                          MOBILE                            */

header{
    background-color: #FF7F00;
    position: relative;
}

header .contain-header{
    width: 90%;
    margin: auto;
}

header .logo{
    width: 50%;
    margin: auto;
    display: block;
    max-width: 190px;
}

header .b-menu{
    display: inline-block;
    position: relative;
    top: 7px;
    /* left: 10px; */
    margin: 0% 6% 0% 5%;
    color: white;
    font-size: 250%;
    text-shadow: 0px 5px 4px rgba(100, 100, 100, 0.568);

}

header form{
    display: inline-block;
    margin: 0% 0% 5% 4%;
    width: 70%;
    height: 40px;
    position: relative;
    border-radius: 30px;
}

header form input{
    border: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 30px;
    text-indent: 4%;
    font-weight: 500;
    font-size: 20px;
}

header form input:focus{
    border-radius: 30px;
    outline: none;
}

header form button{
    position: absolute;
    top: 19%;
    right: 3.5%;
    font-size: 20px;
    text-shadow: 0px 5px 4px rgba(100, 100, 100, 0.568);
    cursor: pointer;
}

header .user,.i-cart{
    display: none;
}

header nav ul{
    display: none;
}

header .nav-1{
    text-align: center;
    position: relative;
}


               /*                          TABLET                            */


@media (min-width:768px){

    header .logo{
        display: inline-block;
        width: 180px;
    }
    
    header .b-menu{
        display: none;
    }
    
    header form{
        margin: 0% 3% 5% 4%;
        width: 50%;
        position: relative;
        bottom: 80px;
        right: 20px;
    }

    header .user,.i-cart{
        display: initial;
        color: #ffffff;
        margin-left: 2.7%;
        position: relative;
        bottom: 77px;
        font-size: 200%;
    }
    header .nav-2{
        width: 100%;
        margin-top: -40px;
    }
    
    header nav ul{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    header nav ul li{
        display: inline-block;
        margin: 0% 4% 3% 4%;
    }
    
    header nav ul li a{
        color: #ffffff;
        font-size: 200%;
        font-weight: 700;
        text-shadow: 0px 5px 4px rgba(100, 100, 100, 0.568);
    }

}

               /*                          DESKTOP                            */

