.login header{
    display:none;
}
.login footer{
    display: none;
}


.login main{
    background-color: #E7E6E6;

}
.login main .contenedorlogin {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 180vw;
    margin: 19% auto;
    display:flex;
    flex-direction: column;
    border-radius: 45px;
    position: relative;
}



                           /*   MOBILE   */




.login main .ruta{
    width: 100%;
    height: 16vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 4.8vw;
    font-weight: 500;
    padding-left: 5%;
    color: #3D2ED0;

}

.login main .ruta a{
    color: #3D2ED0;
}

.login .ruta .a-posicion{
    font-weight: 700;
    font-size: 4.9vw;
}
.login .ruta span{
    margin: 0% 0.5%;
}

.login .item-user{
    position: absolute;
    top: -7.32%;
    display: flex;
    width: 30%;
    align-self: center;
    color: #3D2ED0;
   justify-content: center;
   font-size: 25vw;
}
.login h1{
    text-align: center;
    margin: 15% 0% 16% 0%;
    font-size: 11vw;
    font-weight: 700;
}
.login .sesioninit{
    background-color: #F2204D;
    color: white;
    width: 90%;
    margin: 4% auto;
    height: 11vw;
    font-size: 6vw;
    border-radius: 40px;
    text-indent: 4%;
    font-weight: 500;
    border: none;
    box-shadow: 0px 5px 12px -4px black;

}

.login .sesioninit::placeholder{
    color: gainsboro;
}

.login .sesioninit:focus{
    outline: none;
    border: 2px solid #3D2ED0;
}

.login .captcha{
    margin: 8% auto;
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 19vw;
    justify-content: center;
    align-items: center;
}
.login .captcha label {
    margin: 8% 5%;
    font-size: 6vw;
    font-weight: 600;
}
.login .captcha input{
    width: 9%;
    height: 100%;
}
.login .enter{
    color: rgb(255, 255, 255);
    width: 63vw;
    font-size: 1.4em;
    background-color: #3D2ED0;
    margin: 4% auto;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px 12px -4px black;
    border: none;
    height: 14vw;
    border-radius: 40px;

}
.login .notenescuenta{
    width: 100%;
    text-align: center;
}
.login .notenescuenta h4{
    font-size: 4.5vw;
    display: inline-block;
    color: #3D2ED0;
}
.login .notenescuenta a{
    font-size: 5vw;
    font-weight: 700;
    color: #3D2ED0;
}


                           /*  TABLET  */






@media (min-width:768px){
    
.login main .ruta{
    font-size: 1.8vw;
    align-items: center;
}
.login .ruta .a-posicion {
    font-weight: 700;
    font-size: 2.5vw;
}

.login main .contenedorlogin{
    width: 55vw;
    height: 79vw;
    margin: 7% auto;
}

.login .ruta{
    font-size: 2.4vw;
}
.login .item-user{
    top: -9.32%;
    font-size: 12vw;
}
.login h1{
    font-size: 5vw;
    font-weight: 500;
    margin: 20% 0% 5% 0%;
}
.login .sesioninit{
    height: 6vw;
    font-size: 3vw;
    width: 73%;
}
.login .captcha {
    width: 40%;
    height: 7vw;
}

.login .captcha label{
    font-size: 2.2vw;
    margin: 10.95% 5%;
}
.login .enter {
    border-radius: 50px;
    height: 7vw;
    width: 47%;
    font-size: 1.5em;
}
.login .captcha input{
    margin: 10.6% 1% 10% 3%;
    width: 12.5%;
    height: 100%;
}
.login .notenescuenta h4 {
    font-size: 1.5vw;
}
.login .notenescuenta a {
    font-size: 1.8vw;
}
.login .enter{
    border-radius: 50px;
}

}


@media (min-width:1024px){
    
.login main .ruta{
    height: 4vw;
    font-size: 1.5vw;    
}

.login main .contenedorlogin {
        width: 30vw;
        margin: 3% auto;
        height: 36vw;
}

.login .item-user{
    font-size: 6vw;
    top: -10%;
}
.login h1 {
    font-size: 2em;
    margin: 20% 0% 5% 0%;
}
.login .sesioninit {
    height: 2.5vw;
    font-size: 1em;
    width: 22vw;
    margin: 3% auto;
}
.login .captcha {
    width: 43%;
    height: 4vw;
    margin: 5% auto;
}

.login .captcha label {
    font-size: 0.75em;
}

.login .enter {
    width: 40%;
    height: 3vw;
    font-size: 1em;
    margin: 4% auto 4% auto;
}
.login .notenescuenta h4 {
    font-size: 0.8em;
}

.login .notenescuenta a {
    font-size: 1em;
}
.login .ruta {
    font-size: 1.4vw;
    height: 7vw;
}
.login .ruta .a-posicion {
    font-size: 1.2em;
}
}