

.loading header .cart{
    display: none;
}


/*MAIN*/


.loading main{
    width: 100%;
    background-color: #E7E6E6;
    margin-bottom: 5%;
}


/*Primer sección*/


.loading .contenedor {
    background-color: #E7E6E6;
    width: 90%;
    margin: auto;
}


.loading .primero{
    background-color: white;
    width:90% ;
    border-radius:35px;
    margin: 15% 5% 10% 5%;
    padding-bottom: 7%;
}
.loading h2{
    padding: 20px 13px;
    margin-bottom:  15px;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
}
.loading .boton1, .boton2{   
    width:50%;
    display: block; 
    color: rgb(255, 255, 255);
    background-color: #F2204D;
    border-radius: 40px;
    padding: 8px 18px;
    margin-bottom: 9%;
    margin-left: 26%;
    border: none;
    font-size: 1em;
    box-shadow: 0px 5px 12px -4px black;
    text-shadow: 0px 5px 4px rgb(100 100 100 / 57%);
   font-weight: bold;
}
.loading .botones{
    padding-bottom: 8%;
}
.loading h3{
    color: #666;
    font-weight: 800;
    margin: auto;
}


/*Segunda sección*/

.loading .segundo{
    padding-top: 10%;
    background-color: white;
    width:90% ;
    border-radius:35px;
    margin: 10% 5% 10% 5%
}


.loading .img-producto{
    margin: 8% 17%;
    width: 66%;

}
.loading .cont-mini-pctablet{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.loading .img-mini-tablet-pc, .icon{
    display: flex;
    width: 14%;
}


.loading .segundo .div-form{
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 22%;
    margin-top: 15%;
}
.loading .segundo .div-form input{
    width: 60vw;
    display: inline-block;  
    text-align: left;
    background-color: #F2204D;
    color: white;
    font-size: 5vw;
    border-radius: 40px;
    text-indent: 4%;
    font-weight: 500;
    border: none;
    padding: 8px 5px;
    box-shadow: 0px 5px 12px -4px black;
    margin: 8% 0%;
    height: 8vw;

}
.loading .segundo .div-form input::placeholder{
color: white }
.loading .segundo .div-form input:focus{
    outline: none;
    border: 2px solid #3D2ED0;
}




/*Tercer sección*/


.loading .tercero{
    height: auto;
    background-color: white;
    width:90% ;
    border-radius:35px;
    margin: 10% 5% 10% 5%;
    padding-bottom: 6%;
}
.loading .tercero h3{
    width: 89%;
    color: #666;
    font-weight: 800;
    text-align: center;
    font-size: 1.5em;
    padding: 7% 10% 1% 10%;
}
.loading .lineaRosa{
    margin: auto;
    width: 89%;
    height: 3px;
    background-color: #F77490;
    border-radius: 40px;
    padding: 1px 1px;
}
.loading .description{
    margin: 15% auto;
    width: 89%;
    height: 100%;
    display: block;
    background-color:#FEEFEF;
    border-radius: 10px;
    text-indent: 5.4px;
    padding-top: 10px;
    resize: none;
}
.loading .description .SiEncontrasteEsteEasterEgg{
    height: 140px ;
    width: 100%;
    text-align: center;
    display: block;
    background-color:#FEEFEF;
    border-radius: 10px;
    padding: 5%;
    border-color: rgba(47, 79, 79, 0.377);
}
.loading .description .SiEncontrasteEsteEasterEgg:focus {
    outline: none;
    border: 2px solid #3D2ED0;
}

.loading .SiEncontrasteEsteEasterEgg{
    /* Es porque estás corrigiendo bien el código XD */
    margin: 20% 0%;
}
.loading .contenedor-descripcion{
    height: 26vw;

}


.loading .componentepc{
    display: flex;
    align-items: flex-end;
    margin: 10% 10% 10% 5%;
}
.loading .titulocomponente {
    margin: -21.6% 9%;
    position: absolute;
    left: 20%;
    width: 56.3%;
    background-color:#FEEFEF;
    border-radius: 10px;
    border-color: rgba(47, 79, 79, 0.377);
    text-align: left;
    resize: none;
    height: 13.2vw;
    text-indent: 15px;
    padding-top: 10px;
}
.loading textarea:focus {
    outline: none;
     border: 2px solid #3D2ED0;
 }



/*CARGAR PRODUCTO*/

.loading .finalizar {
    color: white;
    width: 63vw;
    font-size: 6.5vw;
    background-color: #3D2ED0;
    margin-left: 16%;
    margin-top: -4%;
    margin-bottom: -5%;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px 12px -4px black;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.64);
    border: none;
    height: 14vw;
}

.loading footer {
    margin-top: 130px;
}




               /*                          TABLET                            */


 @media (min-width:768px){


    .loading header .cart{
        display: initial;
    }   
/*MAIN*/






/*Primer seccion*/


.loading h2{
    font-size: 1.8em;
    font-weight: 800;

}

.loading .boton1, .boton2{   
    width:40%;
    display: inline-block; 
    border-radius: 40px;
    padding: 8px 18px;
    margin-bottom: -1%;
    margin-left: 6%;
    font-size: 2em;
}








/*Segunda sección*/

.loading .caja-grande{
    display: flex;
}
.loading .contenedor-producto{
    display: inline-block;
    width: 80%;
}
.loading .cont-mini-pctablet{
flex-direction: column;
justify-content: space-between;
width: 19%;
height: 400px;
padding-left: 4%;
}
.loading .img-mini-tablet-pc{
    width: 60%;
    margin-top: 4%;
}

.loading .tercero h3{
    font-size: 2.5em;
}

.loading .lineaRosa{
    height: 7px;
}




/*TERCER SECCIÓN*/

.loading .contenedor-descripcion{
    height: 17.3vw;

}
.loading .titulocomponente {
    margin: -21.1% 9%;
}

.loading .description {
    margin: 5.1% auto;
    width: 89%;
    height: 100%;
    text-indent: 15px;
    padding-top: 10px;
    font-size: 2vw;
}

.loading .finalizar {
    height: 8vw;
    width: 40vw;
    margin: 0% 30%;
    font-size: 4vw;
}

.loading .SiEncontrasteEsteEasterEgg {
    margin: 0%;
}

/*DESKTOP */ 


@media (min-width:1024px){ 

.loading .primero{
    padding: 1% 0%;
    text-align: center;
}
    .loading h2 {
        display: inline-block;
        font-size: 1.44em;
    }

.loading .segundo{
    display: flex;
    padding-top: 0%;
}
.loading .contenedor-form{
    width: 120%;
}
.loading .contenedor-producto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
.loading .cont-mini-pctablet {
    justify-content: space-evenly;
    padding-top: 5%;
}

.loading .img-producto{
    width: 100%;
    margin: 0%;
}
.loading .segundo .div-form input{
    width: 20.9vw;
    height: 4vw;
    font-size: 3vw;
}
.loading .segundo form {
    padding-top: 34%;
    margin-top: 0%;
}


.loading .boton1, .boton2 {
    margin-bottom: -1%;
    width: 19%;
    margin-left: 2.6%;
    font-size: 1.2em;


}



.loading .tercero h3{
    padding: 5% 0% 1% 0;
    font-size: 3.5em;
    text-align: left;
}

.loading .description input {
    
height: 40vh;
}
.loading .finalizar {
    width: 32.7vw;
    height: 7.5vw;
    margin-left: 26%;
    font-size: 3vw;
    text-align: center;
    padding: 0%;
    margin: 0 30.6vw;
}

}
}

 