    .register main .c-ruta {
    margin: 11vw 0vw 20vw 3vw;
    font-size: 4.8vw;
    font-weight: 500;
    }
    .register main .ruta{
    font-weight: 700;
    }
    .register main .c-ruta a,.register main .c-ruta span,.register main p {
    color: #3D2ED0;
    margin-top: 10vw;
    }
    .register main .terminos,.register .b-login{
    font-weight: 700;
    color: #3D2ED0;

    }
    
.register main form{
    background-color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin-top: 5vw;
    padding: 0vw 5vw 15vw 5vw;
    }
.register main form i{
    color:#3D2ED0;
    font-size: 22vw;
    margin-top: -12vw;
    }
.register main form h2{
    font-size: 10vw;
    margin: 0vw 0vw 10vw 0vw;
    }
.register main form .campos {
    background-color: #F2204D;
    margin: 0vw 0vw 10vw 0vw;
    font-size: 7vw;
    border-radius: 40px;
    text-indent: 4%;
    font-weight: 500;
    border: none;
    box-shadow: 0px 5px 12px -4px black;
    height: 12vw;
    color: #ffffff;
    width: 80vw;
    }
.register main form input::placeholder{
    color: gainsboro;
    }

    .register main form input:focus {
        outline: none;
        border: 2px solid #3D2ED0;
    }
.register main form .c-captcha{
    margin: 15% auto;
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 19vw;
    justify-content: center;
    }
.register main form .c-captcha label {
    margin: 8% 5%;
    font-size: 6vw;
    font-weight: 600;
    }
.register main form .c-captcha .check {
    width: 11%;
    height: 17vw;
    }
.register main form button {
    background-color: #3D2ED0;
    border-radius: 40px;
    font-size: 10vw;
    color: white;
    height: 16vw;
    padding: 2vw 9vw 5vw 5vw;
    margin: 0vw 0vw 6vw 0.7vw;
    width: 71vw;
    }
.register main form span {
    font-size: 5vw;
    color: #3D2ED0;

    }
.register main form .login{
    font-size: 5vw;
    color: #3D2ED0;
    }
.register main form .terminos{
    font-weight: 700;
    color: #3D2ED0;
    }

.register main form .condiciones{
    margin-top: 6vw;
    font-size: 4vw;
    text-shadow: none;
    }       




@media (min-width:768px){
    .register main .c-ruta {
        font-size: 3.1vw;
    }
    .register main form {
        width: 65%;  
    }
    .register main form i {
        margin: -13vw -2vw 0vw 0vw;
        font-size: 22vw;
    }
    .register main form h2 {
        font-size: 8vw;
    }
    .register main form .campos {
        font-size: 4vw;
        height: 6vw;
        width: 50vw;
    }
    .register main form .c-captcha {
        margin: 0% 0% 20% 19.6%;
        width: 60%;
        height: 10vw;
    }
    .register main form .c-captcha label {
        margin: 11% 0% 0% 6%;
        font-size: 2.5vw;
    }
    .register main form .c-captcha .check {
        height: 10vw;
    }
    .register main form button {
        font-size: 4vw;
        height: 10vw;
        width: 40vw;
        padding: 0vw 4vw 0vw 4vw;
        margin: 0vw 10vw 4vw 7vw;
    }
     .register main form span {
    font-size: 3vw;
    }
    .register main form .login{
    font-size: 3vw;
    }
    .register main form .condiciones{
    font-size: 3vw;
    }  



    @media (min-width:1024px){
    .register main .c-ruta {
        margin: 8.9vw 0vw 9.8vw 6vw;
        font-size: 1.8vw;
    }
    .register main form {
        width: 39.8%;
        padding: 0vw 4vw 2.8vw 4vw;
    }
    .register main form i {
        margin: -8.2vw 0vw 0vw 0vw;
        font-size: 13.7vw;
    }    
    .register main form h2 {
        font-size: 4.5vw;
        margin: 0vw 0vw 6.6vw 0vw;
    }
    .register main form .campos {
        font-size: 2.5vw;
        height: 4vw;
        margin: 0vw 0vw 4.1vw 0vw;
        width: 30vw;
    }
    .register main form .c-captcha {
        margin: 0% auto 20% auto;
        width: 23vw;
        height: 7.3vw;
    }
    .register main form .c-captcha label {
        margin: 9% -2% 0% 8%;
        font-size: 2vw;
    }
    .register main form .c-captcha .check {
        height: 6.9vw;
    }
    .register main form button {
        font-size: 3vw;
        width: 25vw;
        padding: 0;
        height: 6.9vw;
        margin: 0vw 8vw 5vw 3.5vw;
    }
    .register main form span{
        font-size: 2vw;
        margin: 0vw 1vw 0vw 0vw;
    }

    .register main .terminos, .register .b-login {
        font-size: 2.3vw;
    }

    .register main form .login {
        font-size: 2vw;
    }
    .register main form .condiciones {
        font-size: 2vw;
    }
}
}
