    .register main .c-ruta {
    margin: 11vw 0vw 20vw 3vw;
    font-size: 3.5vw;
    }
    .register main .ruta{
    font-weight: 700;
    }
.register main a, span, p {
    color: #3D2ED0;
    margin-top: 10vw;
    }
.register main .terminos, .login{
    text-shadow: 0px 5px 4px rgb(100 100 100 / 57%);
    font-weight: 700;
    }
.register main form{
    background-color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin-top: 5vw;
    padding: 0vw 5vw 15vw 5vw;
    }
.register main form i{
    color:#3D2ED0;
    font-size: 22vw;
    margin-top: -12vw;
    }
.register main form h2{
    font-size: 10vw;
    margin: 0vw 0vw 10vw 0vw;
    }
.register main form .campos {
    background-color: #F2204D;
    margin: 0vw 0vw 10vw 0vw;
    font-size: 7vw;
    border-radius: 40px;
    text-indent: 4%;
    font-weight: 500;
    border: none;
    box-shadow: 0px 5px 12px -4px black;
    height: 12vw;
    }
.register main form input::placeholder{
    color: #D1BABA;
    }
.register main form .c-captcha{
    margin: 15% auto;
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 19vw;
    justify-content: center;
    }
.register main form .c-captcha label {
    margin: 8% 5%;
    font-size: 6vw;
    font-weight: 600;
    }
.register main form .c-captcha .check {
    width: 11%;
    height: 17vw;
    }
.register main form button {
    background-color: #3D2ED0;
    border-radius: 40px;
    font-size: 10vw;
    color: white;
    height: 16vw;
    padding: 2vw 9vw 5vw 5vw;
    margin: 0vw 0vw 6vw 4vw;
    }
.register main form span {
    font-size: 5vw;
    margin: 0vw 2vw 0vw 0vw;
    }
.register main form .login{
    font-size: 5vw;
    }
.register main form .terminos{
    font-weight: 700;
    }

.register main form .condiciones{
    margin-top: 6vw;
    font-size: 4vw;
    text-shadow: none;
    }       

@media (min-width:768px){
    .register main .c-ruta {
        font-size: 4w;
    }
    .register main form {
        width: 65%;  
    }
    .register main form i {
        margin: -13vw -2vw 0vw 0vw;
        font-size: 22vw;
    }
    .register main form h2 {
        font-size: 8vw;
    }
    .register main form .campos {
        font-size: 4vw;
        height: 6vw;
    }
    .register main form .c-captcha {
        margin: 0% 0% 20% 23%;
        width: 60%;
        height: 10vw;
    }
    .register main form .c-captcha label {
        margin: 11% 0% 0% 6%;
        font-size: 2.5vw;
    }
    .register main form .c-captcha .check {
        height: 10vw;
    }
    .register main form button {
        font-size: 4vw;
        height: 10vw;
        padding: 0vw 4vw 0vw 4vw;
        margin: 0vw 10vw 4vw 13vw;
    }
     .register main form span {
    font-size: 3vw;
    }
    .register main form .login{
    font-size: 3vw;
    }
    .register main form .condiciones{
    font-size: 3vw;
    }  
    @media (min-width:1024px){
    .register main .c-ruta {
        margin: 4vw 0vw 18vw 6vw;
        font-size: 1.8vw;
    }
    .register main form {
       width: 50%;
    }
    .register main form i {
        margin: -9vw 0vw 0vw 0vw;
        font-size: 16vw;
    }    
    .register main form h2 {
        font-size: 5vw;
    }
    .register main form .campos {
        font-size: 2.5vw;
        height: 4vw;
    }
    .register main form .c-captcha {
        margin: 0% 0% 20% 25%;
        width: 51%;
        height: 6vw;
    }
    .register main form .c-captcha label {
        margin: 9% -2% 0% 8%;
        font-size: 2vw;
    }
    .register main form .c-captcha .check {
        height: 6vw;
    }
    .register main form button {
        font-size: 3vw;
        width: 25vw;
        margin: 0vw 10vw 5vw 8.5vw;
    }
    .register main form span{
        font-size: 2vw;
        margin: 0vw 1vw 0vw 0vw;
    }
    .register main form .login {
        font-size: 2vw;
    }
    .register main form .condiciones {
        font-size: 2vw;
    }
}
}
