<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %> 

<body class="loading">
    <%- include("./partials/header")%> 
    <main>
          <h1 class="title"><small>Estas editando el producto</small> : <%=product.name%></h1>
          
          <form class="formCreacion" action="/products/create" method="POST">

            <!----------------------------------    BOOSTRAP   ------------------------------------------>
              <div class="mb-3 input-file">
                <label for="image" class="form-label">Selecciona una imagen principal :</label>
                <input type="file" id="image" name="image" class="form-control">
                <div class="invalid-feedback">aca va el error</div>
              </div>
              
              <div class="container-inputs">
                  <div class="col-md-3">
                    <label for="name" class="form-label">Nombre :</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                    <div class="invalid-feedback">
                      aca va el error 
                    </div>
                  </div>

                  <div class="mb-4 input-selects">
                    <label for="type" class="form-label">Tipo de producto :</label>
                    <select class="form-select" id="type" name="type">
                      <option selected hidden>Producto</option>
                      <option value="consolas">Consolas</option>
                      <option value="juegos">Juegos</option>
                      <option value="pc">Pc armadas</option>
                    </select>
                    <div class="invalid-feedback">aca va el error</div>
                  </div>

                  <div class="mb-4 input-selects">
                    <label for="category" class="form-label">Categoria :</label>
                    <select class="form-select" id="category" name="category">
                      <option selected hidden>Categoria</option>
                      <option value="in-sale">En oferta</option>
                      <option value="best-seller">Mas vendido</option>
                      <option value="new-release">Nuevo lanzamiento</option>
                    </select>
                    <div class="invalid-feedback">aca va el error</div>
                  </div>

                  <div class="col-md-3">
                    <label for="price" class="form-label">Precio :</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Precio">
                    <div class="invalid-feedback">
                      aca va el error
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="discount" class="form-label">Descuento :</label>
                    <input type="number" class="form-control" id="discount" name="discount"  placeholder="Descuento">
                    <div class="invalid-feedback">
                      aca va el error
                    </div>
                  </div>
                 
                  <div class="mb-4 input-selects">
                    <label for="payMethod" class="form-label">Medio pago :</label>
                    <select class="form-select" id="payMethod" name="payMethod">
                      <option selected hidden>Medio de pago</option>
                      <option value="3">3 cuotas</option>
                      <option value="6">6 cuotas</option>
                      <option value="12">12 cuotas</option>
                      <option value="0">   Efectivo</option>
                    </select>
                    <div class="invalid-feedback">aca va el error</div>
                  </div>
              </div>

              <div class="mb-3 input-text-area">
                <label for="description" class="form-label">Descripcion :</label>
                <textarea class="form-control input-text-area" id="description" name="description" placeholder="Ingresa la descripcion del producto" rows="6"></textarea>
                <div class="invalid-feedback">
                  aca va el error
                </div>
              </div>
  
            <!----------------------------------    BOOSTRAP   ------------------------------------------>
                
            <div class="container-buttons">
                <button type="submit" class="btn btn-editar">Guardar Producto</button>
                <a href="/" class="btn btn-borrar">Cancelar</a>
            </div>
          </form>

    </main>
<%- include("./partials/footer") %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>