<footer>
    <div class="contain-footer">
        <form action="" method="">
            <h2 class="t-ofertas">Recibe las mejores ofertas</h2>

            <div class="email">
                <i><img src="/images/icon/mail.svg" alt="Email"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <button type="submit">Suscribirse</button>
        </form>
        <nav> 
            <div>
                <ul>
                    <li><h3 class="t-ul">Navegacion</h3></li>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
                <ul class="ul-medios">
                    <li><h3 class="t-ul">Medios de Pago</h3></li>
                    <li><a href="">Transferencia</a></li>
                    <li><a href="">Credito y Debito</a></li>
                    <li><a href="">Efectivo</a></li>
                </ul>
            </div>
            <div class="div-redes">
                <ul >
                    <li><h3 class="t-ul">Contacto</h3></li>
                    <li><a href="">persona@gmail.com</a></li>
                    <li><a href="">administrador@gmail.com</a></li>
                </ul>

                <ul class="ul-redes">
                    <li><h3 class="t-ul">Redes</h3></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>