<header>
    <nav style="background-color: #5F5E5D;">
        <div class="nav-1" 
        style="
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: auto;">
          
            <a href="/" class="logo" style="width: 8vw;">
                <img src="/images/icon/Logo.png" alt="logo" width="100%">
            </a>
            
            <form class="search" style="    
            width: 32vw;
            position: relative;
            height: 2.5vw;
            border-radius: 30px;
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            left: 5vw;"> 
                <input class="search-bar" type="text" name="search" placeholder="Buscar" style="
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    border: none;
                    font-weight: 500;
                    text-indent: 1vw;">
                <button class="search-icon" type="submit" style="
                position: absolute;
                left: 29.6vw;;"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="nav-1-controls" style="    
            display: flex;
            flex-wrap: wrap;
            width: 23.5%;
            justify-content: space-between;
            align-items: center;">
            <div style="
            display: flex;
            width: 76%;
            flex-wrap: wrap;
            justify-content: space-between;">
                <a href="#" style="
                border: 1px solid white;
                border-radius: 15px;
                padding: 0.5vw 1vw;
                font-size: 1vw;">Iniciar sesion</a>
                <a href="#" style="
                border: 1px solid white;
                border-radius: 15px;
                padding: 0.5vw 1vw;
                font-size: 1vw;">Registrarse</a>
                <!-- <a href="#" style=" 
                   border: 1px solid white;
                   border-radius: 15px;
                   padding: 0.5vw 1vw;
                   font-size: 1vw;
                   display: flex;
                   align-items: center;
                   width: 8.3vw;
                   justify-content: space-between;"><img src="/images/icon/default-user-image.png" style="width: 1.5vw; border-radius: 100%;"> Juan<i class="fas fa-chevron-down" style="margin-left: 0.6vw;"></i></a> -->
            </div>
                
                <a href="/cart" class="i-cart" style="font-size: 2.2vw;"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <div class="nav-2" style=" 
        width: 79.8%;
        margin: auto;
        padding-bottom: 1vw;">
            <ul class="ul-nav-2" style="
                display: flex; 
                align-items: center;
                font-size: 1.4vw;">
                <li style="margin-right: 3vw;">
                    <!----------------------------------    BOOSTRAP DESPLEGABLE PRODUCTOS   ------------------------------------------>
                    
                    <div class="dropdown dropdown2">
                        <a href="#">
                            Productos<i class="fas fa-chevron-down" style="margin-left: 0.6vw;"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuLink">
                            <div style="display: inline-block; text-align: center;">
                                <li class="item-productos">
                                    <ul>
                                        <li class="item-productos dropdown-header"><a class="dropdown-item" href="#">Consolas</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Playstation</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Xbox</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Nintendo</a></li>
                                    </ul>  
                                </li>
                            </div>
                            <div style="display: inline-block; text-align: center;">
                                <li class="item-productos">
                                    <ul>
                                        <li class="item-productos dropdown-header"><a class="dropdown-item" href="#">Pc armadas</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Gama alta</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Gama media</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Gama baja</a></li>
                                    </ul>  
                                </li>
                            </div>
                            <div style="display: inline-block; text-align: center;">
                                <li class="item-productos">
                                    <ul>
                                        <li class="item-productos dropdown-header"><a class="dropdown-item" href="#">Juegos</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Pc</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Playstation</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Nintendo</a></li>
                                        <li class="item-productos"><a class="dropdown-item" href="#">Xbox</a></li>
                                    </ul>  
                                </li>
                            </div>
                        </ul>
                        
                    </div>
                    
                    <!----------------------------------    BOOSTRAP DESPLEGABLE PRODUCTOS   ------------------------------------------>    
                </li>
                <li style="margin-right: 3vw;"><a href="#" class="item">Nosotros</a></li>
                <li style="margin-right: 3vw;"><a href="#" class="item">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>