<header>
    <div class="c-header">
        <nav class="nav-1">
            <a href="/" class="logo">
                <img src="/images/icon/Logo.png" alt="logo" >
            </a>

            <!----------------------------------    BOOSTRAP MENU TELEFONO  ------------------------------------------>

            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-bars menu"></i></a>
              
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="text-align: left;">
                <div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Mi cuenta
                                <i class="fas fa-user-circle icon-b-acordion"></i>  
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a class="dropdown-item" href="/users/login">Iniciar sesión</a>
                                <a class="dropdown-item" href="/users/register">Registrarse</a>
                                <a class="dropdown-item" href="/products/product-loading">Cargar producto</a>
                            </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <a href="/cart/show" class="accordion-button collapsed no-acordion" type="button">
                                    Carrito<i class="fas fa-shopping-cart icon-b-acordion"></i>
                                </a>
                            </h2>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Productos
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a class="dropdown-item" href="#">Consolas</a>
                                    <a class="dropdown-item" href="#">Pc armadas</a>
                                    <a class="dropdown-item" href="#">Juegos</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <a href="#" class="accordion-button collapsed no-acordion" type="button">
                                    Nosotros
                                </a>
                            </h2>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <a href="#" class="accordion-button collapsed no-acordion" type="button">
                                    Contacto
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!----------------------------------    BOOSTRAP   MENU TELEFONO ------------------------------------------>

            <form class="search">
                
                <input class="search-bar" type="text" name="search" placeholder="Buscar">
                <button class="search-icon" type="submit"><i class="fas fa-search"></i></button>
            </form>
            
            <!----------------------------------    BOOSTRAP DESPLEGABLE USER Y CART   ------------------------------------------>
            
            <div class="c-user-cart">
                <div class="dropdown" style="display: inline-block;">
                    <a class="btn btn-secondary dropdown-toggle item btn-productos user" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/users/login">Iniciar sesion</a></li>
                    <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/products/product-loading">Cargar producto</a></li>
                    </ul>
                </div>
                <a href="/cart/show" class="i-cart"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <!----------------------------------    BOOSTRAP  DESPLEGABLE USER Y CART  ------------------------------------------>

        </nav>
        <nav class="nav-2">
            <ul class="ul-nav-2">
                <li>
                <!----------------------------------    BOOSTRAP DESPLEGABLE PRODUCTOS   ------------------------------------------>

                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle item btn-productos" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Productos
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li class="item-productos"><a class="dropdown-item" href="#">Consolas</a></li>
                          <li class="item-productos"><a class="dropdown-item" href="#">Pc armadas</a></li>
                          <li class="item-productos"><a class="dropdown-item" href="#">Juegos</a></li>
                        </ul>
                    </div>

                 <!----------------------------------    BOOSTRAP DESPLEGABLE PRODUCTOS   ------------------------------------------>    
                </li>
                <li><a href="#" class="item">Nosotros</a></li>
                <li><a href="#" class="item">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>