<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %> 
<body class="home">

    <%- include("./partials/header") %> 

    <main>

        <!----------------------------------    BOOSTRAP    ------------------------------------------>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/banners/banner4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/banners/banner2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/banners/banner3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!----------------------------------    BOOSTRAP    ------------------------------------------>

        <div class="main">
        <section >
            <div class="redes">
            <h3>Seguinos en nuestras Redes</h3>

            <a href="#"><img src="/images/icon/facebook.png" alt="facebook"></a>
            <a href="#"><img src="/images/icon/instagram.png" alt="instagram"></a>
            <a href="#"><img class="twitter" src="/images/icon/twitter.png" alt="twitter"></a>
            </div>
        </section>

        <h2>Nuevos Lanzamientos</h2>
        
        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/resident-evil-village.jpg" alt="Resident evil Village">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>RESIDENT EVIL VILLAGE</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/pc-photoshop/pc.jpg" alt="COMPUTADORA PHOTOSHOP">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COMPUTADORA ARMADA PARA PHOTOSHOP</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 560.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps4_slim/ps4.jpg" alt="PS4 SLIM">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 4 SLIM</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps5/ps5.jpg" alt="PS5">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>PLAYSTATION 5</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 159.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            
        </section>

        <h2>Mas Vendidos</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/ps4.jpg" alt="PS4">
                    </div>  

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>PLAYSTATION 4</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/PC-Armada-Media-0026_600.jpg" alt="COMPUTADORA GAMA MEDIA">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>COMPUTADORA AMD GAMA MEDIA</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 460.417</p>
                            <p class="discount">24x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/juego-nintendo-switch--super-smash.jpg" alt="SMAHS BROSS">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>SMASH BROSS NINTENDO SWITCH</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/switch/nintendo.jpg" alt="SWITCH">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>
        
                        <div class="title">
                            <h3>NINTENDO SWITCH</h3>
                        </div>
                        <div class="info"> 
                            <p class="price">$ 159.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>

        <h2>Ofertas</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">

            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/Pc/pc-premire/pc-premire.jpg" alt="Pc de Edicion">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COMPUTADORA PARA EDICION</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 560.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/consolas/xbox-s.jpg" alt="XBOX ONE S">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>XBOX ONE S</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 59.000</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/spiderman.jpg" alt="SPIDERMAN PS4">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>SPIDERMAN PS4</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <!-- <p class="discount">12x $ 1.012,39 sin interés</p> -->
                        </div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/products/detail-Product" class="a-article">
                    <div class="contenedor-img">
                        <img src="/images/juegos/callOfDuty-ps5.png" alt="COD PS5">
                    </div>

                    <div class="product-info">
                        <button><i class="far fa-heart"></i></button>

                        <div class="title">
                            <h3>COD COLD WAR PS5</h3>
                        </div>
                        <div class="info">
                            <p class="price">$ 3.560</p>
                            <p class="discount">12x $ 1.012,39 sin interés</p>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </div>
    </main>
    
    <%- include("./partials/footer") %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>