<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %> 

<body class="login">
    <%- include("./partials/header") %> 
    <main>
        <div class="ruta">
            <a href="/">Inicio</a>
            <span>></span>
            <a class="a-posicion" href="/login">Iniciar sesión</a>
        </div>


        <form class="contenedorlogin" action="">

            <i class="fas fa-user-circle item-user"></i>
            <h1>Iniciar sesión</h1>
            <input name="email" class="sesioninit" type="email" placeholder="Email" required>
            <input name="password" class="sesioninit" type="password" placeholder="Contraseña" required>

            <div class="captcha">
                <input type="checkbox" name="captcha" id="captcha" required>
                <label for="captcha" >No soy un robot</label>
            </div>
            <button class="enter" type="submit">Ingresar</button>

            <div class="notenescuenta">
                <h4>¿no tenés una cuenta?</h4>
                <a href="/register">Registrate</a>
            </div>
        </form>

    </main>
    <%- include("./partials/footer") %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>